{% comment %}
------------------------------------------------------------------------------
  Snippet: Back in stock alert
------------------------------------------------------------------------------
{% endcomment %}

{%- assign back_in_stock_alert_button_label = block.settings.back_in_stock_alert_button_label -%}
{%- assign back_in_stock_alert_button_icon = block.settings.back_in_stock_alert_button_icon -%}
{%- assign back_in_stock_alert_button_icon_alt = back_in_stock_alert_button_icon.alt -%}
{%- assign back_in_stock_alert_form_heading = block.settings.back_in_stock_alert_form_heading -%}
{%- assign back_in_stock_alert_form_email_placeholder = block.settings.back_in_stock_alert_form_email_placeholder -%}
{%- assign back_in_stock_alert_form_submit_button_label = block.settings.back_in_stock_alert_form_submit_button_label -%}
{%- assign back_in_stock_alert_form_success_message = block.settings.back_in_stock_alert_form_success_message -%}
{%- assign close_modal = 'general.accessibility.close_modal' | t -%}
{%- assign product_back_in_stock_alert_message = 'products.product.product_back_in_stock_alert_message' | t -%}
{%- assign id = section.id -%}

{%- capture styles -%}
	--offset-top-desktop: {{ block.settings.offset_top_desktop }}px; {{-  -}}
	--offset-bottom-desktop: {{ block.settings.offset_bottom_desktop }}px; {{-  -}}
	--offset-top-mobile: {{ block.settings.offset_top_mobile }}px; {{-  -}}
	--offset-bottom-mobile: {{ block.settings.offset_bottom_mobile }}px;
{%- endcapture -%}

{%- if back_in_stock_alert_button_label != blank and
	back_in_stock_alert_form_email_placeholder != blank and
	back_in_stock_alert_form_submit_button_label != blank and
	back_in_stock_alert_form_success_message != blank and
	back_in_stock_alert_form_heading != blank and
	product_back_in_stock_alert_message != blank and
	close_modal != blank
-%}

	{%- assign variant_available = product.selected_or_first_available_variant.available -%}
	{%- assign button_class = 'product-notify-me-button button-link focus-visible-outline js-back-in-stock-alert-button' -%}

	{% if variant_available %}
		{% assign button_class = button_class | append: " is-hidden" %}
	{% endif %}

	<div class="product-form__button-link-container js-back-in-stock-alert-button-wrapper{% if variant_available %} is-hidden{% endif %}"
		 style="{{- styles -}}"
	>
		<button class="{{ button_class }}"
				type="button"
				data-target="ProductNotifyMePopup-{{- id -}}"
				data-js-toggle="ProductNotifyMePopup-{{- id -}}"

		>
			{%- if back_in_stock_alert_button_icon != blank -%}
				{%- capture img_focal -%}
					--img-desktop-pos: {{ back_in_stock_alert_button_icon.presentation.focal_point }};
				{%- endcapture -%}

				<img class="button-link__icon"
					 src="{{ back_in_stock_alert_button_icon | image_url: width: 20, height: 20 }}"
					 srcset="{{ back_in_stock_alert_button_icon | image_url: width: 20, height: 20 }} 1x,
						 {{ back_in_stock_alert_button_icon | image_url: width: 40, height: 40 }} 2x"
					 style="{{ img_focal }}"
					 alt="{{ back_in_stock_alert_button_icon_alt }}"
				>
			{%- endif -%}

			{{ back_in_stock_alert_button_label }}
		</button>
	</div>
{%- endif -%}
