{%- comment -%}
	------------------------------------------------------------------------------
	Snippet: Cart notification
	Render shopping cart notification

	Usage:
	{%- render 'cart-notification' -%}
	------------------------------------------------------------------------------
{%- endcomment -%}

{%- render 'adastra' with '/src/scripts/cart-notification.js' -%}

{%- assign color_scheme 					= settings.cart_notification_color_scheme -%}
{%- assign enable_color_scheme_inheritance 	= settings.cart_notification_enable_color_scheme_inheritance -%}

{%- if enable_color_scheme_inheritance -%}
	{%- assign color_scheme = settings.main_color_scheme -%}
{%- endif -%}

<div class="cart-notification color-{{ color_scheme }} js-cart-notification">
	<div class="cart-notification__container js-cart-notification-modal" aria-modal="true" role="dialog" tabindex="-1">
		<div class="cart-notification__header">
			<h2 class="cart-notification__heading">
				{{- 'cart.notifications.added_heading' | t -}}:
			</h2>

			<button
				type="button"
				class="focus-visible-outline cart-notification__close"
				data-notification-close
				aria-label="{{- 'general.accessibility.close_modal' | t | escape -}}"
			>
				{%- render 'icons', icon: 'menu-close' -%}
			</button>
		</div>

		<div class="cart-notification__body js-cart-notification-content"></div>

		<div class="cart-notification__footer">
			<a
				href="{{- routes.cart_url -}}"
				class="button button--primary cart-notification__cta"
				{% if settings.cart_type == 'drawer' %}
					data-target="CartDrawer"
					data-js-toggle="CartDrawer"
					aria-expanded="false"
					aria-controls="CartDrawer"
					data-notification-close
				{% endif %}
			>
				{{- 'cart.notifications.view_cart' | t -}}
			</a>

			<form
				action="{{- routes.cart_url -}}"
				method="post"
				id="cart-notification-form"
				class="cart-notification__form"
			>
				<button class="button button--secondary cart-notification__cta" name="checkout" type="submit">
					<span data-text="{{- 'cart.general.checkout' | t | escape -}}">
						<span>{{- 'cart.general.checkout' | t -}}</span>
					</span>
				</button>
			</form>
		</div>
	</div>
</div>
