{% comment %}
	------------------------------------------------------------------------------
	Snippet: Cart item drawer
	Render item in the cart drawer
	- item: cart_item object (required)

	Usage:
	{%- render 'cart-item-drawer', item: item -%}
	------------------------------------------------------------------------------
{% endcomment %}

{%- assign show_compare_at_price_in_cart = settings.show_compare_at_price_in_cart -%}

{%- assign image     = item.image | default: settings.product_default_image -%}
{%- assign title     = item.product.title -%}
{%- assign variant   = item.variant -%}
{%- assign volume_pricing_array = variant.quantity_price_breaks | sort: 'quantity' | reverse -%}
{%- assign has_quantity_rules	= true -%}
{%- capture img_focal -%}{%- endcapture -%}

{%- if variant.quantity_rule.increment < 2 and variant.quantity_rule.min < 2 and variant.quantity_rule.max == null -%}
	{%- assign has_quantity_rules = false -%}
{%- endif -%}

{% if image == settings.product_default_image %}
	{%- capture img_focal -%}
		--img-desktop-pos: {{ settings.product_default_image.presentation.focal_point }};
	{%- endcapture -%}
{% endif %}

{%- capture discounts -%}
	{%- for discount in item.line_level_discount_allocations -%}
		<li class="discounts__item cart-item-drawer__discount">
			{% render 'icons', icon: 'discount' %}

			{{ discount.discount_application.title }}
		</li>
	{%- endfor -%}
{%- endcapture -%}

{%- capture properties -%}
	{%- for property in item.properties -%}
		{%- assign property_first_char = property.first | slice: 0 -%}

		{%- if property.last != blank and property_first_char != '_' -%}
			<div class="cart-item-drawer__option cart-item-drawer__option--flex">
				<dt class="cart-item-drawer__option-label">{{ property.first }}: </dt>

				<dd>
					{%- if property.last contains '/uploads/' -%}
						<a href="{{- property.last -}}" class="link" target="_blank" rel="nofollow">
							{{- property.last | split: '/' | last -}}
						</a>
					{%- else -%}
						{{- property.last -}}
					{%- endif -%}
				</dd>
			</div>
		{%- endif -%}
	{%- endfor -%}
{%- endcapture -%}

{%- capture quantity_rules -%}
	{%- if volume_pricing_array.size > 0 or has_quantity_rules -%}
		<div class="popover-container cart-item-drawer__quantity-rules no-js-hidden js-popover-container">
			<button class="focus-visible-outline cart-item-drawer__quantity-rules-button js-popover-button" type="button" aria-expanded="false">
				{%- if volume_pricing_array.size > 0 -%}
					{{- "cart.general.volume_pricing_available" | t -}}
				{%- else -%}
					{{- "cart.general.view_quantity_rules" | t -}}
				{%- endif -%}
			</button>

			<div class="popover cart-item-drawer__popover js-popover-content">
				<button class="focus-visible-outline popover__button js-popover-button" type="button" aria-label="{{- 'general.accessibility.close' | t -}}">
					{% render 'icons', icon: 'close' %}
				</button>

				<div class="popover__content">
					{%- if has_quantity_rules -%}
						<div class="product__quantity-rules">
							{%- unless variant.quantity_rule.increment < 1 -%}
								<span class="product__quantity-rules-item">
									<span class="js-product-quantity-rule-increment-val">{{ 'products.product.increments_of' | t: number: variant.quantity_rule.increment }}</span>
								</span>
							{%- endunless -%}
							{%- unless variant.quantity_rule.min < 1 -%}
								<span class="product__quantity-rules-item">
									<span class="js-product-quantity-rule-min-val">{{ 'products.product.minimum_of' | t: number: variant.quantity_rule.min }}</span>
								</span>
							{%- endunless -%}
							{%- unless variant.quantity_rule.max == null -%}
								<span class="product__quantity-rules-item">
									<span class="js-product-quantity-rule-max-val">{{ 'products.product.maximum_of' | t: number: variant.quantity_rule.max }}</span>
								</span>
							{%- endunless -%}
						</div>
					{%- endif -%}

					{%- if volume_pricing_array.size > 0 -%}
						<div class="product-volume-pricing">
							<p class="product-volume-pricing__title">{{ 'products.product.volume_pricing.title' | t }}</p>
							<ul class="product-volume-pricing__list">
								<li class="product-volume-pricing__list-item">
									<span>{{ variant.quantity_rule.min }}+</span>
									{%- assign price = variant.price | money_with_currency -%}
									<span data-text="{{ 'products.product.volume_pricing.price_at_each' | t: price: price }}">{{ price }}/ea</span>
								</li>
								{%- for price_break in variant.quantity_price_breaks -%}
									{%- assign price_break_price = price_break.price | money_with_currency -%}
									<li class="product-volume-pricing__list-item">
										<span>{{ price_break.minimum_quantity }}<span aria-hidden="true">+</span></span>
										<span data-text="{{ 'products.product.volume_pricing.price_at_each' | t: price: price_break_price }}">{{ price_break_price }}/ea</span>
									</li>
								{%- endfor -%}
							</ul>
						</div>
					{%- endif -%}
				</div>
			</div>
		</div>
	{%- endif -%}
{%- endcapture -%}

{%- capture quantity_widget -%}
	<div class="cart-item-drawer__quantity">
		<div class="cart-item-drawer__quantity-wrapper">
			<label class="visually-hidden" for="Quantity-{{- item.index | plus: 1 -}}">
				{{- 'products.quantity.label' | t -}}
			</label>

			<div class="quantity js-quantity">
				<input
					class="focus-visible-outline quantity__input"
					id="Quantity-{{- item.index | plus: 1 -}}"
					type="number"
					name="updates[]"
					pattern="[0-9]*"
					value="{{- item.quantity -}}"
					min="{{ item.variant.quantity_rule.min }}"
					max="{{ item.variant.quantity_rule.max }}"
					step="{{ item.variant.quantity_rule.increment }}"
					data-index="{{- item.index | plus: 1 -}}"
					data-item-key="{{- item.key -}}"
					data-quantity-input
					aria-label="{{ 'products.quantity.input_label' | t: product: title | escape }}"
				/>

				<div class="quantity__buttons">
					<button
						class="focus-visible-outline quantity__button{% if max_inventory_added %} disabled{% endif %}"
						name="plus"
						type="button"
						data-quantity-increase
						aria-label="{{ 'products.quantity.increase' | t: product: title | escape }}"
					>
						{% render 'icons', icon: 'arrow-up' %}
					</button>

					<button
						class="focus-visible-outline quantity__button"
						name="minus"
						type="button"
						data-quantity-decrease
						aria-label="{{ 'products.quantity.decrease' | t: product: title | escape }}"
					>
						{% render 'icons', icon: 'arrow-down' %}
					</button>
				</div>
			</div>
		</div>
	</div>
{%- endcapture -%}

<div
	class="cart-item-drawer"
	id="CartItem-{{- item.index | plus: 1 -}}"
	data-index="{{- item.index | plus: 1 -}}"
	data-cart-item="{{- item.key -}}"
>
	<div class="cart-item-drawer__media">
		<a href="{{- item.url -}}" class="cart-item-drawer__image-container focus-visible-outline {% if image == blank %}cart-item-drawer__image-container--placeholder{% endif %}"
		   aria-label="{{- title -}}"
		>
			{%- if image != blank -%}
				<picture>
					<source
						srcset="{{ image | image_url: height: 100  }} 1x, {{ image | image_url: height: 200 }} 2x"
						media="(max-width: 767px)"
						width="80"
						height="100"
					/>

					<img
						class="cart-item-drawer__image"
						src="{{ image | image_url: height: 180 }}"
						srcset="{{ image | image_url: height: 180  }} 1x, {{ image | image_url: height: 360 }} 2x"
						width="96"
						height="{{- 120 | divided_by: image.aspect_ratio | ceil -}}"
						alt="{{- image.alt | escape -}}"
						loading="lazy"
						fetchpriority="low"
						{% if img_focal != blank %}
							style="{{ img_focal }}"
						{% endif %}
					/>
				</picture>
			{%- else -%}
				{{ 'image' | placeholder_svg_tag: 'cart-item-drawer__image cart-item-drawer__image--placeholder' }}
			{%- endif -%}
		</a>
	</div>

	<div class="cart-item-drawer__content">
		<div class="cart-item-drawer__header">
			<div class="cart-item-drawer__details">
				{%- if settings.show_vendor -%}
					<p class="cart-item-drawer__details-text cart-item-drawer__details-text--small">
						{{- item.product.vendor -}}
					</p>
				{%- endif -%}

				<a href="{{- item.url -}}" class="focus-visible-outline cart-item-drawer__details-title">
					{{- title | escape -}}
				</a>

				{%- unless item.product.has_only_default_variant -%}
					<p class="cart-item-drawer__details-text">
						{%- for option in variant.options -%}
							{{- option.name }} {% unless forloop.last %}|{% endunless %}
						{%- endfor -%}
					</p>
				{%- endunless -%}

				{%- if item.selling_plan_allocation != nil -%}
					<p class="cart-item-drawer__option cart-item-drawer__option--italic">
						{{- item.selling_plan_allocation.selling_plan.name -}}
					</p>
				{%- endif -%}

				{%- if properties != '' -%}
					<dl>
						{{- properties -}}
					</dl>
				{%- endif -%}

				{%- if discounts != '' -%}
					<ul class="discounts cart-item-drawer__discounts" role="list" aria-label="{{ 'customer.order.discount' | t | escape }}">
						{{- discounts -}}
					</ul>
				{%- endif -%}
			</div>

			{%- assign is_discounted = false -%}

			{%- if item.original_line_price != item.final_line_price -%}
				{%- assign is_discounted = true -%}
			{%- endif -%}

			<div class="cart-item-drawer__summary{% if variant.available and item.unit_price_measurement %} cart-item-drawer__summary--with-unit{% endif %}">
				{%- if is_discounted -%}
					<div class="cart-item-drawer__price-varies">
						<span class="visually-hidden">
							{{- 'products.product.price.sale_price' | t -}}
						</span>

						<span class="cart-item-drawer__price cart-item-drawer__price--new">
							{{- item.final_line_price | money -}}
						</span>

						<span class="visually-hidden">
							{{ 'products.product.price.regular_price' | t }}
						</span>

						<s class="cart-item-drawer__price cart-item-drawer__price--old">
							{{- item.original_line_price | money -}}
						</s>
					</div>
				{%- else -%}
					{%- if item.variant.compare_at_price and show_compare_at_price_in_cart -%}
						<div class="cart-item-drawer__price-varies">
							<div class="cart-item-drawer__price cart-item-drawer__price--new">
								{{- item.original_line_price | money -}}
							</div>

							<s class="cart-item-drawer__price cart-item-drawer__price--old">
								{{ item.variant.compare_at_price | times: item.quantity | money }}
							</s>
						</div>
					{%- else -%}
						<div class="cart-item-drawer__price">
							{{- item.original_line_price | money -}}
						</div>
					{%- endif -%}
				{%- endif -%}

				{%- if variant.available and item.unit_price_measurement -%}
					<small class="unit-price caption">
						<span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
						{{ variant.unit_price | money }}

						<span aria-hidden="true">/</span>

						{%- if variant.unit_price_measurement.reference_value != 1 -%}
							{{- variant.unit_price_measurement.reference_value -}}
						{%- endif -%}

						{{ variant.unit_price_measurement.reference_unit }}
					</small>
				{%- endif -%}
			</div>
		</div>

		<div class="cart-item-drawer__footer">
			<a href="{{ item.url_to_remove }}"
			   id="Remove-{{- item.index | plus: 1 -}}"
			   class="button-link focus-visible-outline js-cart-item-remove"
			   data-index="{{- item.index | plus: 1 -}}"
			   data-item-key="{{- item.key -}}"
			>
				{% render 'icons', icon: 'menu-close' %}

				<span data-text="{{- 'cart.general.remove' | t | escape -}}">
					<span>{{- 'cart.general.remove' | t | escape -}}</span>
				</span>
			</a>

			{{- quantity_widget -}}
		</div>

		{{- quantity_rules -}}

		<div class="cart-item-drawer__error js-cart-item-error" id="LineItemError-{{ item.index | plus: 1 }}" role="alert">
			<small class="cart-item-drawer__error-text js-cart-item-error-message"></small>
		</div>
	</div>
</div>
