{%- comment -%}
	------------------------------------------------------------------------------
	Snippet: Cart upsell
	Render upsell products in the shopping cart
	- products: Products list (required)

	Usage:
	{%- render 'cart-upsell', products: products, heading: heading -%}
	------------------------------------------------------------------------------
{%- endcomment -%}

{%- if products != blank and products.count > 0 and cart != empty -%}
	{%- assign currency_code_enabled = settings.is_currency_code_enabled -%}
	{%- assign show_unit_price		 = settings.is_show_unit_price -%}

	{%- capture	upsell_items -%}
		{%- assign added_products = cart.items | map: 'product_id' -%}

		{%- for product in products -%}
			{%- if added_products contains product.id -%}
				{%- continue -%}
			{%- endif -%}

			{%- assign image = product.featured_image | default: settings.product_default_image -%}

			<div class="cart-upsell__item js-product-card"
				{% if product.template_suffix == 'pre-order' %}
					data-preorder
				{% endif %}
				 data-product-url="{{ product.url }}"
			>
				<div class="cart-upsell__item-media">
					<a href="{{ product.url }}"
					   class="cart-upsell__item-image-wrapper focus-visible-outline {% if image == blank %}cart-upsell__item-image-wrapper--placeholder{% endif %}"
					   aria-label="{{- product.title | escape -}}"
					>
						{%- if image != blank -%}
							<picture>
								<source
									srcset="{{ image | image_url: width: 80, height: 100  }} 1x, {{ image | image_url: width: 160, height: 200 }} 2x"
									media="(max-width: 767px)"
									width="80"
									height="100"
								/>

								<img
									class="cart-upsell__image"
									src="{{ image | image_url: width: 144, height: 180 }}"
									srcset="{{ image | image_url: width: 144, height: 180  }} 1x, {{ image | image_url: width: 288, height: 360 }} 2x"
									width="96"
									height="{{- 120 | divided_by: image.aspect_ratio | ceil -}}"
									alt="{{- image.alt | escape -}}"
									loading="lazy"
									fetchpriority="low"
								/>
							</picture>
						{%- else -%}
							{{ 'image' | placeholder_svg_tag: 'cart-upsell__image cart-upsell__image--placeholder' }}
						{%- endif -%}
					</a>
				</div>

				{%- form 'product', product, id: form_id, class: 'cart-upsell__item-content js-product-card-form', novalidate: 'novalidate' -%}
					<div class="cart-upsell__item-header">
						<a class="focus-visible-outline cart-upsell__item-title" href="{{- product.url -}}">
							{{- product.title -}}
						</a>

						<div class="cart-upsell__item-price js-price-container">
							{%- render 'price', product: product, show_unit_price: show_unit_price, currency_code_enabled: currency_code_enabled -%}
						</div>
					</div>

					<div class="cart-upsell__item-details">
						<div class="cart-upsell__item-actions">
							{%- assign form_id = 'upsell-form-' | append: forloop.index | append: '-' | append: product.id -%}
							{%- assign variant_id = product.selected_or_first_available_variant.id -%}
							<input type="hidden" name="id" value="{{- variant_id -}}" class="js-product-card-variant-input" />
							<input type="hidden" name="quantity" class="js-product-card-min-value" value="{{- product.selected_or_first_available_variant.quantity_rule.min -}}" />

							<script class="js-product-card-product" type="application/json">
								{{- product | json -}}
							</script>

							<script type="application/json" data-selected-variant>
								{{- product.selected_or_first_available_variant | json -}}
							</script>

							{%- unless product.has_only_default_variant -%}
								{%- for option in product.options_with_values -%}
									{%- assign option_name_downcased	= option.name | downcase -%}
									{%- assign option_name_handle		= option.name | handle -%}

									<div class="cart-upsell__item-select-wrapper select-wrapper">
										<label class="cart-upsell__item-select-label" for="cart-upsell-item--{{- option_name_handle -}}-{{ product.handle }}-{{ forloop.index }}">
											{{- option.name -}}:
										</label>

										<select class="cart-upsell__item-select" id="cart-upsell-item--{{- option_name_handle -}}-{{ product.handle }}-{{ forloop.index }}"
												data-option="option{{- option.position -}}"
												name="option{{- option.position -}}"
												required
										>
											{% comment %} selected="selected" not replace to selected, to prevent js-error {% endcomment %}
											{%- for value in option.values -%}
												<option value="{{- value | escape -}}"
														data-option-value-id="{{ value.id }}"
														{% if value.selected %}selected="selected"{% endif %}
												>
													{{- value -}}
												</option>
											{%- endfor %}
										</select>
									</div>
								{%- endfor -%}
							{%- endunless -%}

							<small class="cart-upsell__item-error error js-product-card-error"></small>

							{%- capture atc_attributes -%}
								{%- if product.available == false -%}
									disabled
								{%- endif -%}
							{%- endcapture -%}

							<button
								class="cart-upsell__item-button button-link focus-visible-outline js-product-card-button"
								type="submit"
								name="add"
								{{ atc_attributes -}}
							>
								{%- if product.available -%}
									{% render 'icons', icon: 'plus' %}

									<span
										data-text="
											{% if product.template_suffix == 'pre-order' %}
												{{- 'products.product.pre_order' | t | escape -}}
											{% else %}
												{{- 'products.product.add_to_cart' | t | escape -}}
											{% endif %}"
									>
										<span>
											{% if product.template_suffix == 'pre-order' %}
												{{- 'products.product.pre_order' | t | escape -}}
											{% else %}
												{{- 'products.product.add_to_cart' | t | escape -}}
											{% endif %}
										</span>
									</span>
								{%- else -%}
									<span data-text="{{- 'products.product.sold_out' | t | escape -}}">
										<span>{{- 'products.product.sold_out' | t | escape -}}</span>
									</span>
								{%- endif -%}
							</button>
						</div>
					</div>
				{% endform %}
			</div>
		{%- endfor -%}
	{%- endcapture	-%}

	{%- if upsell_items != '' -%}
		<div class="cart-upsell">
			{{- upsell_items -}}
		</div>
	{%- endif -%}
{%- endif -%}
