{%- comment -%}
	------------------------------------------------------------------------------
	Snippet: Filter list
	- filter: filter object (required)
	- id: id (required)
	- filter_type: filter type (sidebar/top-bar/drawer)
	- show_swatches: boolean. Set true to show swatches instead of checkbox

	Usage:

	{%- render 'filter-list', filter: filter -%}
	------------------------------------------------------------------------------
{%- endcomment -%}

{%- render 'adastra' with '/src/styles/filter-list.scss' -%}

{%- assign sorted_values = filter.values -%}
{%- assign swatch_option = settings.color_swatches_option | default: 'Color' | downcase -%}
{%- assign swatches 	 = swatch_option | split: ',' -%}
{%- assign filter_label  = filter.label | downcase -%}

{%- if filter.operator == "AND" -%}
	{% comment %} Keep the selected values grouped together when operator is AND {% endcomment %}

	{%- assign active_filter_values = filter.values | where: 'active', true -%}
	{%- assign inactive_filter_values = filter.values | where: 'active', false -%}
	{%- assign sorted_values = active_filter_values | concat: inactive_filter_values -%}
{%- endif -%}

{%- if filter_type == 'top-bar' -%}
	{%- assign filter_list_class = 'filter-list--top-bar' -%}
{%- endif -%}

{%- if filter_type == 'sidebar' -%}
	{%- assign filter_list_class = 'filter-list--sidebar' -%}
{%- endif -%}

{%- assign swatch_list_class = '' -%}
{%- if filter.presentation == "swatch" -%}
	{%- assign swatch_list_class = 'filter-list--swatch' -%}
{%- endif -%}

<ul class="filter-list {{ filter_list_class }} {{ swatch_list_class }} js-filter-list">
	{%- for filter_value in sorted_values -%}
		<li class="filter-list__item">
			{%- capture filter_active -%}
				{%- if filter_value.active -%}
					checked
				{%- endif -%}
			{%- endcapture -%}

			{%- capture filter_disable -%}
				{%- if filter_value.count == 0 and filter_value.active == false -%}
					disabled
				{%- endif -%}
			{%- endcapture -%}

			<input
				class="checkbox__input visually-hidden filter-list__checkbox"
				id="Filter-{{ section.id }}-{{- filter.param_name | escape -}}-{{- forloop.index -}}-{{- id -}}"
				type="checkbox"
				name="{{- filter_value.param_name -}}"
				value="{{- filter_value.value -}}"
				{{ filter_active | strip_newlines }}
				{{ filter_disable | strip_newlines }}
			>

			{%- assign filter_value_label = filter_value.label -%}
			{%- assign tech_tag = filter_value_label | slice: 0, 7 -%}

			{%- if tech_tag contains 'label__' -%}
				{%- assign filter_value_label = filter_value_label
					| remove_first: 'label__'
					| remove_first: ':primary'
					| remove_first: ':secondary'
				-%}
			{%- endif -%}

			{%- if filter.presentation == "swatch" -%}
				{%- capture swatch_style -%}
					{%- if filter_value.swatch.image -%}
						--swatch-image: url('{{ filter_value.swatch.image | image_url: width: 60 }}'); --swatch-color: transparent;
					{%- elsif filter_value.swatch.color -%}
						--swatch-color: {{ filter_value.swatch.color }};
					{%- endif -%}
				{%- endcapture -%}
				<label
					class="checkbox__label checkbox__label--swatch"
					for="Filter-{{ section.id }}-{{- filter.param_name | escape -}}-{{- forloop.index -}}-{{- id -}}"
					style="{{ swatch_style }}"
					title="{{ filter_value_label | escape }}"
				>
					<span class="checkbox__label-image"></span>
					<span class="visually-hidden">{{- filter_value_label | escape }} ({{- filter_value.count -}})</span>
				</label>
			{%- elsif filter.presentation == "image" -%}
				<label
					class="checkbox__label checkbox__label--swatch"
					for="Filter-{{ section.id }}-{{- filter.param_name | escape -}}-{{- forloop.index -}}-{{- id -}}"
				>
					{%- if filter_value.image -%}
						<img
							src="{{- filter_value.image | image_url: width: 60 -}}"
							class="checkbox__label-image"
							aria-hidden="true"
							fetchpriority="low"
							loading="lazy"
							decoding="async"
							width="20"
							height="20"
							alt=""
						/>
					{%- endif -%}

					{{- filter_value_label | escape }} ({{- filter_value.count -}})
				</label>
			{%- else -%}
				<label
					class="checkbox__label"
					for="Filter-{{ section.id }}-{{- filter.param_name | escape -}}-{{- forloop.index -}}-{{- id -}}"
				>

					{{- filter_value_label | escape }} ({{- filter_value.count -}})
				</label>
			{%- endif -%}
		</li>
	{%- endfor -%}
</ul>
