{%- comment -%}
	------------------------------------------------------------------------------
	Snippet: Header menu
	Render header menu
	- menu: Menu object (required)
	- burger_menu: Burger menu object

	Usage:
	{%- render 'header-menu', menu: menu, burger_menu: burger_menu -%}
	------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign shipping_policy_page_url = '/pages/shipping-policy' -%}
{%- assign refund_policy_page_url = '/pages/refund-policy' -%}

<nav class="header-menu" aria-label="{{- "layout.navigation.main_menu" | t | escape -}}">
	<ul class="header-menu__list header-menu__list--main">
		{%- if burger_menu.links != blank -%}
			<li class="header-menu__item-wrapper-mega-menu" style="display: none !important;">
				<button
					class="header-menu__item header-menu__item--mega-menu focus-visible-outline"
					aria-label="{{ "layout.navigation.open_drawer_menu" | t | escape }}"
					data-multi-drawer-toggle="HeaderMegaMenu"
					data-drawer-level="1"
					aria-expanded="false"
					aria-controls="HeaderMegaMenuMain:{{- burger_menu.title | handleize -}}"
				>
					{%- render 'icons', icon: 'burger-menu' -%}
				</button>
			</li>
		{%- endif -%}

		{%- for first_level_link in menu.links -%}
			{%- assign first_level_index = forloop.index -%}
			{%- assign animation_delay = 0 -%}

			<li class="header-menu__item-wrapper">
				{%- assign link_title_down = first_level_link.title | downcase -%}
				{%- assign header_display_title = first_level_link.title -%}
				{%- assign header_link_url = first_level_link.url -%}
				{%- if header_link_url contains 'shipping-policy' -%}
					{%- assign header_link_url = shipping_policy_page_url -%}
				{%- endif -%}
				{%- if header_link_url contains 'refund-policy' -%}
					{%- assign header_link_url = refund_policy_page_url -%}
				{%- endif -%}
				{%- if link_title_down == 'new arrivals' -%}
					{%- assign header_link_url = '/collections/new-arrivals' -%}
				{%- endif -%}
				
				{%- assign is_shop_menu = false -%}
				{%- if link_title_down == 'home' or link_title_down contains 'shop' -%}
					{%- assign is_shop_menu = true -%}
					{%- assign header_display_title = 'SHOP' -%}
					{%- assign header_link_url = '/collections/all' -%}
				{%- endif -%}

				{%- assign is_mega_menu = false -%}
				{%- if link_title_down contains 'collection' or is_shop_menu -%}
					{%- assign is_mega_menu = true -%}
				{%- endif -%}
				{%- assign is_support_menu = false -%}
				{%- if link_title_down == 'support' -%}
					{%- assign is_support_menu = true -%}
				{%- endif -%}
				{%- assign is_fishing_menu = false -%}
				{%- if link_title_down == 'fishing' -%}
					{%- assign is_fishing_menu = true -%}
				{%- endif -%}

				{%- if first_level_link.links != blank or is_mega_menu or is_support_menu or is_fishing_menu -%}
					<a
						class="button-link header-menu__item{% if first_level_link.active %} header-menu__item--active{% endif %} no-js"
						href="{{- header_link_url -}}"
						{% if first_level_link.current %}
							aria-current="page"
						{% endif %}
					>
						<span data-text="{{- header_display_title | escape -}}">
							<span>
								{{- header_display_title | escape -}}
							</span>
						</span>
					</a>

					{%- if display_link_on_first_lvl and header_link_url != '#' -%}
						<a
							href="{% if is_mega_menu %}/collections/all{% else %}{{ header_link_url }}{% endif %}"
							class="button-link header-menu__item header-menu__item--link{% if first_level_link.child_active %} header-menu__item--active{% endif %}"
							{% if first_level_link.current %}
								aria-current="page"
							{% endif %}
						>
							<span data-text="{{- header_display_title | escape -}}">
								<span>
									{{- header_display_title | escape -}}
								</span>
							</span>
						</a>
						<button
							class="button-link header-menu__item header-menu__item--arrow js-header-dropdown-menu-toggler"
							type="button"
							data-target="headerDesktopMenu:{{- first_level_link.title | handleize -}}-{{- first_level_index -}}"
							aria-controls="headerDesktopMenu:{{- first_level_link.title | handleize -}}-{{- first_level_index -}}"
							aria-expanded="false"
							aria-label="{{- header_display_title | escape }} submenu"
						>
							{%- render 'icons', icon: 'arrow-down' -%}
						</button>
					{%- else -%}
						<button
							class="button-link header-menu__item{% if first_level_link.child_active %} header-menu__item--active{% endif %} js-header-dropdown-menu-toggler"
							type="button"
							data-target="headerDesktopMenu:{{- first_level_link.title | handleize -}}-{{- first_level_index -}}"
							aria-controls="headerDesktopMenu:{{- first_level_link.title | handleize -}}-{{- first_level_index -}}"
							aria-expanded="false"
						>
							<span data-text="{{- header_display_title | escape -}}">
								<span>
									{{- header_display_title | escape -}}
								</span>
							</span>

							{%- render 'icons', icon: 'arrow-down' -%}
						</button>
					{%- endif -%}

					<div class="header-menu__list-nested-wrapper js-header-dropdown-menu-wrapper" data-target-nested-wrapper="headerDesktopMenu:{{- first_level_link.title | handleize -}}-{{- first_level_index -}}">
						{%- if is_mega_menu or is_fishing_menu -%}
							{%- render 'header-mega-menu-collection',
								first_level_link: first_level_link,
								first_level_index: first_level_index,
								is_shop_menu: is_shop_menu,
								is_fishing_menu: is_fishing_menu,
								header_link_url: header_link_url
							-%}
						{%- else -%}
						<ul
							id="headerDesktopMenu:{{- first_level_link.title | handleize -}}-{{- first_level_index -}}"
							class="header-menu__list header-menu__list--nested js-header-dropdown-menu"
						>
							{%- if is_support_menu -%}
								{%- comment -%} Custom order: Contact, Shipping, Refund, Privacy, Terms {%- endcomment -%}
								{%- for policy in shop.policies -%}
									{%- if policy.url contains 'contact-information' -%}
										{%- assign contact_policy = policy -%}
									{%- elsif policy.url contains 'shipping-policy' -%}
										{%- assign shipping_policy = policy -%}
									{%- elsif policy.url contains 'refund-policy' -%}
										{%- assign refund_policy = policy -%}
									{%- elsif policy.url contains 'privacy-policy' -%}
										{%- assign privacy_policy = policy -%}
									{%- elsif policy.url contains 'terms-of-service' -%}
										{%- assign terms_policy = policy -%}
									{%- endif -%}
								{%- endfor -%}

								{%- assign support_items = '' | split: '' -%}
								{%- if contact_policy -%}{%- assign support_items = support_items | concat: contact_policy | compact -%}{%- endif -%}

								{%- for item in support_items -%}{%- endfor -%}

								{%- comment -%} Render each policy in order {%- endcomment -%}
								{%- if contact_policy %}
									{%- assign animation_delay = animation_delay | plus: 0.05 -%}
									<li class="header-menu__item-wrapper" style="--animation-delay: {{ animation_delay }}s">
										<span class="header-menu__item">
											<a class="button-link" href="/pages/contact">
												<span data-text="Contact Information"><span>Contact Information</span></span>
											</a>
										</span>
									</li>
								{%- endif -%}

								{%- if shipping_policy %}
									{%- assign animation_delay = animation_delay | plus: 0.05 -%}
									<li class="header-menu__item-wrapper" style="--animation-delay: {{ animation_delay }}s">
										<span class="header-menu__item">
											<a class="button-link" href="{{ shipping_policy_page_url }}">
												<span data-text="{{ shipping_policy.title | escape }}"><span>{{ shipping_policy.title | escape }}</span></span>
											</a>
										</span>
									</li>
								{%- endif -%}

								{%- if refund_policy %}
									{%- assign animation_delay = animation_delay | plus: 0.05 -%}
									<li class="header-menu__item-wrapper" style="--animation-delay: {{ animation_delay }}s">
										<span class="header-menu__item">
											<a class="button-link" href="{{ refund_policy_page_url }}">
												<span data-text="{{ refund_policy.title | escape }}"><span>{{ refund_policy.title | escape }}</span></span>
											</a>
										</span>
									</li>
								{%- endif -%}

								{%- if privacy_policy %}
									{%- assign animation_delay = animation_delay | plus: 0.05 -%}
									<li class="header-menu__item-wrapper" style="--animation-delay: {{ animation_delay }}s">
										<span class="header-menu__item">
											<a class="button-link" href="{{ privacy_policy.url }}">
												<span data-text="{{ privacy_policy.title | escape }}"><span>{{ privacy_policy.title | escape }}</span></span>
											</a>
										</span>
									</li>
								{%- endif -%}

								{%- if terms_policy %}
									{%- assign animation_delay = animation_delay | plus: 0.05 -%}
									<li class="header-menu__item-wrapper" style="--animation-delay: {{ animation_delay }}s">
										<span class="header-menu__item">
											<a class="button-link" href="{{ terms_policy.url }}">
												<span data-text="{{ terms_policy.title | escape }}"><span>{{ terms_policy.title | escape }}</span></span>
											</a>
										</span>
									</li>
								{%- endif -%}
							{%- else -%}
							{%- for second_level_link in first_level_link.links -%}
								{%- assign animation_delay = animation_delay | plus: 0.05 -%}
								{%- assign second_level_url = second_level_link.url -%}
								{%- if second_level_url contains 'shipping-policy' -%}
									{%- assign second_level_url = shipping_policy_page_url -%}
								{%- endif -%}
								{%- if second_level_url contains 'refund-policy' -%}
									{%- assign second_level_url = refund_policy_page_url -%}
								{%- endif -%}

								<li
									class="header-menu__item-wrapper"
									style="--animation-delay: {{ animation_delay }}s"
								>
									{%- if second_level_link.links != blank -%}
										<span
											class="header-menu__item js-header-menu-item-nested{%- if second_level_link.child_active %} header-menu__item--active{% endif %}"
										>
											<a href="{{ second_level_url }}" class="button-link">
												<span data-text="{{- second_level_link.title | escape -}}">
													<span>
														{{- second_level_link.title | escape -}}
													</span>
												</span>
											</a>

											<button class="header-menu__item-nested-toggle js-header-dropdown-menu-nested-toggler focus-visible-outline"
													type="button"
													data-target="headerDesktopMenu:{{- first_level_link.title | handleize -}}-{{- first_level_index -}}:{{- second_level_link.title | handleize -}}-{{- forloop.index -}}"
													aria-controls="headerDesktopMenu:{{- first_level_link.title | handleize -}}-{{- first_level_index -}}:{{- second_level_link.title | handleize -}}-{{- forloop.index -}}"
													aria-expanded="false"
											>
												{%- render 'icons', icon: 'arrow-right' -%}
											</button>
										</span>
									{%- else -%}
										<span class="header-menu__item">
											<a
												class="button-link"
												href="{{- second_level_url -}}"
												{% if second_level_link.current %}
													aria-current="page"
												{% endif %}
											>
												<span data-text="{{- second_level_link.title | escape -}}">
													<span>
														{{- second_level_link.title | escape -}}
													</span>
												</span>
											</a>
										</span>
									{%- endif -%}
								</li>
							{%- endfor -%}
							{%- endif -%}
						</ul>

						{%- for second_level_link in first_level_link.links -%}
							{% if second_level_link.links != blank %}
								{%- assign animation_delay = 0 -%}

								<ul
									id="headerDesktopMenu:{{- first_level_link.title | handleize -}}-{{- first_level_index -}}:{{- second_level_link.title | handleize -}}-{{- forloop.index -}}"
									class="header-menu__list header-menu__list--nested header-menu__list--deep-nested js-header-dropdown-menu-nested"
								>
									{%- for third_level_link in second_level_link.links -%}
										{%- assign animation_delay = animation_delay | plus: 0.05 -%}
										{%- assign third_level_url = third_level_link.url -%}
										{%- if third_level_url contains 'shipping-policy' -%}
											{%- assign third_level_url = shipping_policy_page_url -%}
										{%- endif -%}
										{%- if third_level_url contains 'refund-policy' -%}
											{%- assign third_level_url = refund_policy_page_url -%}
										{%- endif -%}

										<li
											class="header-menu__item-wrapper"
											style="--animation-delay: {{ animation_delay }}s"
										>
											<a
												class="button button--secondary header-menu__item"
												href="{{- third_level_url -}}"
												{% if third_level_link.current %}
													aria-current="page"
												{% endif %}
											>
												<span data-text="{{- third_level_link.title | escape -}}">
													<span>
														{{- third_level_link.title | escape -}}
													</span>
												</span>
											</a>
										</li>
									{%- endfor -%}
								</ul>
							{%- endif -%}
						{%- endfor -%}
						{%- endif -%}
					</div>
				{%- else -%}
					<a
						class="button-link header-menu__item{% if first_level_link.active %} header-menu__item--active{% endif %}"
						href="{{- header_link_url -}}"
						{% if first_level_link.current %}
							aria-current="page"
						{% endif %}
					>
						<span data-text="{{- header_display_title | escape -}}">
							<span>
								{{- header_display_title | escape -}}
							</span>
						</span>
					</a>
				{%- endif -%}
			</li>
		{%- endfor -%}
	</ul>
</nav>
