<div style="color:red;font-size:200px">LOG: {%- for filter in collection.filters -%}{{ filter.label }}={{ filter.param_name }}:{{ filter.type }}|{%- endfor -%}</div>
<!-- done -->
<div style="color:red;font-size:200px">LOG: {%- for filter in collection.filters -%}{{ filter.label }}={{ filter.param_name }}:{{ filter.type }}|{%- endfor -%}</div>
