{%- comment -%}
------------------------------------------------------------------------------
  Snippet: Product Vendor
------------------------------------------------------------------------------
{%- endcomment -%}
{%- assign preset_vendor    = 'Product vendor' -%}
{%- assign vendor 		    = product.vendor -%}
{%- assign make_vendor_link = block.settings.make_vendor_link -%}

{%- if is_preset -%}
	{%- assign vendor = preset_vendor -%}
{%- endif -%}

{%- if product.vendor != blank or is_preset -%}
	{%- capture styles -%}
		--offset-top-desktop: {{ block.settings.offset_top_desktop }}px; {{-  -}}
		--offset-bottom-desktop: {{ block.settings.offset_bottom_desktop }}px; {{-  -}}
		--offset-top-mobile: {{ block.settings.offset_top_mobile }}px; {{-  -}}
		--offset-bottom-mobile: {{ block.settings.offset_bottom_mobile }}px;
	{%- endcapture -%}

	<div class="product-vendor" style="{{ styles }}">
		{%- if make_vendor_link -%}
			<a href="{{ vendor | url_for_vendor }}" class="button-link product-vendor__item focus-visible-outline">
				<span data-text="{{- vendor -}}">
					<span>{{- vendor -}}</span>
				</span>
			</a>
		{%- else -%}
			<span class="product-vendor__item">{{- vendor -}}</span>
		{%- endif -%}
	</div>
{%- endif -%}

