{%- comment -%}
------------------------------------------------------------------------------
  Snippet: Product options
------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign is_color_swatches_enabled	= settings.is_color_swatches_enabled -%}
{%- assign swatch_option				= settings.color_swatches_option | default: 'Color' | downcase -%}
{%- assign swatches 					= swatch_option | split: ',' -%}
{%- assign variants_type 				= block.settings.variant_picker -%}

{%- capture styles -%}
	--offset-top-desktop: {{ block.settings.offset_top_desktop }}px; {{-  -}}
	--offset-bottom-desktop: {{ block.settings.offset_bottom_desktop }}px; {{-  -}}
	--offset-top-mobile: {{ block.settings.offset_top_mobile }}px; {{-  -}}
	--offset-bottom-mobile: {{ block.settings.offset_bottom_mobile }}px;
{%- endcapture -%}

<div
	class="product-variants {% if product.has_only_default_variant %}is-hidden{% endif %}"
	style="{{ styles }}"
	data-js-product-variant
>
	<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

	{% if product.has_only_default_variant %}
		<script type="application/json" data-selected-variant>
			{{ product.selected_or_first_available_variant | json }}
		</script>
	{% endif %}
</div>

{%- unless product.has_only_default_variant -%}
	<div class="product-options" style="{{ styles }}">
		<div class="js-product-options">
			{%- for option in product.options_with_values -%}
				{%- assign downcased_option = option.name | downcase -%}
				{%- assign handleized_option = option.name | handleize -%}
				{%- assign swatch_count = option.values | map: 'swatch' | compact | size -%}

				{%- for swatch in swatches -%}
					{%- assign swatch_string = swatch | strip -%}

					{%- if downcased_option == swatch_string -%}
						{%- assign swatch_option = swatch_string -%}
					{%- endif %}
				{%- endfor -%}

				{%- comment -%}
					Swatch options
				{%- endcomment -%}
				{%- capture swatch_options -%}
					<fieldset class="product-options__swatch">
						<legend class="legend product-options__option-label">
							{{- option.name -}}:

							<span
								class="product-options__swatch-value js-swatch-label-name"
								data-swatch-name="{{ option.name }}"
								data-swatch-position="{{ option.position }}"
							>
								{{- option.selected_value -}}
							</span>
						</legend>

						<div class="product-options__swatch-container">
							{%- for value in option.values  -%}
								{%- assign swatch_image = nil -%}
								{%- assign swatch_color = nil -%}
								{%- assign handleized_value = value | handleize -%}

								<div class="radio-container radio-option-swatch">
									{%- assign is_disabled = true -%}

									{% if value.available %}
										{%- assign is_disabled = false -%}
									{% endif %}

									{%- assign image_name = value | handle | prepend: 'swatch-' | append: '.png' -%}
									{%- assign swatch_color_fallback = value | split: ' ' | last | handle -%}
									{%- assign swatch_image = value.swatch.image | default: images[image_name] -%}
									{%- assign swatch_color = value.swatch.color | default: swatch_color_fallback -%}

									<input
										id="section-{{- section.id -}}-product-{{- product.id -}}-option-{{- handleized_option -}}-value-{{- handleized_value -}}"
										type="radio"
										class="visually-hidden radio-input"
										value="{{- value -}}"
										name="option{{- option.position -}}"
										{% if value.selected %}
											checked
										{% endif %}
										data-option="{{- option.name -}}"
										data-option-value-id="{{ value.id }}"
									/>

									<label
										for="section-{{- section.id -}}-product-{{- product.id -}}-option-{{- handleized_option -}}-value-{{- handleized_value -}}"
										class="radio-option-swatch__label{% if is_disabled %} is-disabled{% endif %}"
									>
										{%- if swatch_image != blank -%}
											<img
												src="{{- swatch_image | image_url: width: 48, height: 48 -}}"
												class="radio-option-swatch__image"
												aria-hidden="true"
												fetchpriority="low"
												loading="lazy"
												decoding="async"
												alt=""
											/>
										{%- else -%}
											<span class="radio-option-swatch__image" style="--swatch-color: {{ swatch_color }};"></span>
										{%- endif -%}

										<span class="visually-hidden">{{- value -}}</span>

										<span class="radio-option-swatch__label-overlay"></span>
									</label>

									<span class="radio-option-tooltip" aria-hidden="true">{{- value -}}</span>
								</div>
							{%- endfor -%}
						</div>
					</fieldset>
				{%- endcapture -%}

				{%- comment -%}
					Default options
				{%- endcomment -%}
				{%- capture other_options -%}
					<fieldset class="product-options__default">
						<legend class="legend product-options__option-label">
							{{- option.name -}}:
						</legend>

						{% if variants_type == "radio" %}
							{%- for value in option.values  -%}
								{%- assign handleized_value = value | handleize -%}
								{%- assign is_disabled = true -%}

								{% if value.available %}
									{%- assign is_disabled = false -%}
								{% endif %}

								<div class="radio-option">
									<input
										id="section-{{- section.id -}}-product-{{- product.id -}}-option-{{- handleized_option -}}-value-{{- handleized_value -}}"
										type="radio"
										class="visually-hidden radio-input"
										value="{{- value | escape -}}"
										name="option{{- option.position -}}"
										{% if value.selected %}
											checked
										{% endif %}
										data-option="{{- option.name -}}"
										data-option-value-id="{{ value.id }}"
									>

									<label
										for="section-{{- section.id -}}-product-{{- product.id -}}-option-{{- handleized_option -}}-value-{{- handleized_value -}}"
										class="radio-option__label {% if is_disabled %}is-disabled{% endif %}"
									>
										{{- value -}}
									</label>
								</div>
							{%- endfor -%}
						{%- else -%}
							<div class="select-wrapper product-options__select-wrapper">
								<select id="section-{{- section.id -}}-product-{{- product.id -}}-option-{{- handleized_option -}}"
										name="option{{- option.position -}}"
										data-option="{{- option.name -}}"
								>
									{% comment %} selected="selected" not replace to selected, to prevent js-error {% endcomment %}
									{%- for value in option.values  -%}
										<option
											value="{{- value | escape -}}"
											data-option-value-id="{{ value.id }}"
											{% if value.selected %}
												selected="selected"
											{% endif %}
										>
											{{- value -}} {% unless value.available %} ({{ "products.product.sold_out" | t }}){%endunless%}
										</option>
									{%- endfor -%}
								</select>
							</div>

							<label
								for="section-{{- section.id -}}-product-{{- product.id -}}-option-{{- handleized_option -}}"
								class="visually-hidden"
							>
								{{- option.name -}}
							</label>
						{%- endif -%}
					</fieldset>
				{%- endcapture -%}

				{%- if swatch_count > 0 and is_color_swatches_enabled -%}
					{{- swatch_options -}}
				{%- elsif downcased_option == swatch_option and is_color_swatches_enabled -%}
					{{- swatch_options -}}
				{%- else -%}
					{{- other_options -}}
				{%- endif -%}
			{%- endfor -%}

			<script type="application/json" data-selected-variant>
			  {{ product.selected_or_first_available_variant | json }}
			</script>
		</div>

		{%- comment -%}
			Size guide
		{%- endcomment -%}
		{%- assign show_size_guide 				= false -%}
		{%- assign size_guide_page 				= section.settings.size_guide_page -%}
		{%- assign size_guide_button_placement 	= section.settings.size_guide_button_placement -%}
		{%- assign size_guide_button_text       = section.settings.size_guide_button_text | default: "Size guide" -%}
		{%- assign size_guide_icon              = section.settings.size_guide_button_icon -%}

		{%- if section.settings.show_size_guide
			and size_guide_page != blank
			and size_guide_page.content != blank
			and size_guide_button_placement == 'under-options'
		-%}
			{%- assign show_size_guide = true -%}
		{%- endif -%}

		{%- capture size_guide -%}
			<div class="product-options__size-guide">
				<button
					class="button-link button-link--with-icon"
					data-target="productSizeGuideDrawer-{{- section.id -}}"
					data-js-toggle="productSizeGuideDrawer-{{- section.id -}}"
					type="button"
				>
					{%- if size_guide_icon != blank -%}
						{%- capture img_focal -%}
							--img-desktop-pos: {{ size_guide_icon.presentation.focal_point }};
						{%- endcapture -%}

						<img
							class="button-link__icon"
							srcset="{{ size_guide_icon | image_url: width: 24, height: 24 }} 1x,
									{{ size_guide_icon | image_url: width: 48, height: 48 }} 2x"
							src="{{- size_guide_icon | image_url: width: 24 -}}"
							alt="{{- size_guide_icon.alt | escape -}}"
							aria-hidden="true"
							width="24"
							height="24"
							style="{{ img_focal }}"
						/>
					{%- endif -%}

					<span data-text="{{- size_guide_button_text -}}">
						<span>{{- size_guide_button_text -}}</span>
					</span>
				</button>
			</div>
		{%- endcapture -%}

		{%- if show_size_guide -%}
			{{- size_guide -}}
		{%- endif -%}
	</div>
{%- endunless -%}
