{%- comment -%}
------------------------------------------------------------------------------
	Section: Benefits
------------------------------------------------------------------------------
{%- endcomment -%}
{%- assign container    				   = section.settings.container_width -%}
{%- assign color_scheme 				   = section.settings.benefits_color_scheme -%}
{%- assign enable_color_scheme_inheritance = section.settings.enable_color_scheme_inheritance -%}
{%- assign benefits_heading 			   = section.settings.benefits_heading -%}

{%- if enable_color_scheme_inheritance -%}
	{%- assign color_scheme = settings.main_color_scheme -%}
{%- endif -%}

{%- if container == 'inherit' -%}
	{%- assign container_width = settings.container_width -%}
{%- else -%}
	{%- assign container_width = container -%}
{%- endif -%}

{%- capture section_styles -%}
	--inner-offset-top: {{ section.settings.inner_offset_top }}px; {{-  -}}
	--inner-offset-bottom: {{ section.settings.inner_offset_bottom }}px; {{-  -}}
	--inner-offset-top-mobile: {{ section.settings.inner_offset_top_mobile }}px; {{-  -}}
	--inner-offset-bottom-mobile: {{ section.settings.inner_offset_bottom_mobile }}px; {{-  -}}
	--container-width: {{ container_width }}; {{-  -}}
{%- endcapture -%}

{%- capture benefits -%}
	<ul class="benefits__row">
		{%- if section.blocks.size > 0 -%}
			{%- for block in section.blocks -%}
				{%- assign heading		= block.settings.heading -%}
				{%- assign text			= block.settings.text -%}
				{%- assign image		= block.settings.image -%}

				{%- if heading != blank or text != blank or image != blank -%}
					<li class="benefits__col">
						{%- if image != blank -%}
							<div class="benefits__icon-wrapper">
								<picture class="benefits__icon-picture">
									<source
										media="(max-width: 767.98px)"
										srcset="{{ image | image_url: width: 48, height: 48 }} 1x, {{ image | image_url: width: 96, height: 96 }} 2x"
									>

									<img
										src="{{ image | image_url: width: 64, height: 64 }}"
										srcset="{{ image | image_url: width: 64, height: 64 }} 1x, {{ image | image_url: width: 128, height: 128 }} 2x"
										class="benefits__icon need-animate"
										alt="{{ image.alt | escape }}"
										loading="lazy"
										fetchpriority="low"
									>
								</picture>
							</div>
						{%- endif -%}

						{%- if heading != blank -%}
							<div class="benefits__heading h4 tr-dur-0-5">
								{{- heading -}}
							</div>
						{%- endif -%}

						{%- if text != blank -%}
							<div class="benefits__text rte">
								{{- text -}}
							</div>
						{%- endif -%}
					</li>
				{%- endif -%}
			{%- endfor -%}
		{%- else -%}
			{%- for i in (1..4) -%}
				<li class="benefits__col">
					<div class="benefits__icon-wrapper">
						{{- 'image' | placeholder_svg_tag: 'benefits__icon benefits__icon--placeholder' -}}
					</div>

					<div class="benefits__heading h4">
						{{- "general.heading" | t -}}
					</div>

					<div class="benefits__text rte">
						{{- "sections.benefits.text" | t -}}
					</div>
				</li>
			{%- endfor -%}
		{%- endif -%}
	</ul>
{%- endcapture -%}

{%- render 'adastra' with '/src/styles/benefits.scss' -%}

{%- style -%}
	#shopify-section-{{- section.id -}} {
		padding-top: {{- section.settings.offset_top_mobile -}}px;
		padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
	}

	@media screen and (min-width: 768px) {
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_desktop -}}px;
			padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
		}
	}
{%- endstyle -%}

<section
	class="benefits color-{{ color_scheme }} js-animate {% if request.visual_preview_mode or section.index == 1 %}animated{% endif %}"
	style="{{- section_styles -}}"
>
	<div class="benefits__container section-animate container">
		{%- if benefits_heading != blank -%}
			<h2 class="h2 benefits__title">
				{{- benefits_heading -}}
			</h2>
		{%- endif -%}

		{{- benefits -}}
	</div>
</section>

{%- schema -%}
{
	"name": "Benefits",
	"max_blocks": 8,
	"disabled_on": {
		"groups": ["header", "footer", "custom.popup"]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "enable_color_scheme_inheritance",
			"label": "Enable color scheme inheritance",
			"default": true,
			"info": "When this setting is enabled, the color scheme is inherited from the theme settings."
		},
		{
			"type": "color_scheme",
			"id": "benefits_color_scheme",
			"label": "Color scheme"
		},
		{
			"type": "text",
			"id": "benefits_heading",
			"label": "Heading"
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "select",
			"id": "container_width",
			"label": "Container width",
			"options": [
				{
					"value": "1808px",
					"label": "Default - 1680px"
				},
				{
					"value": "2048px",
					"label": "Large - 1920px"
				},
				{
					"value": "100%",
					"label": "Full width"
				},
				{
					"value": "inherit",
					"label": "Inherit of general setting"
				}
			],
			"default": "inherit",
			"info": "if you select 'Inherit of general setting', then container width will be used from the Theme settings/Layout"
		},
		{
			"type": "paragraph",
			"content": "External offsets"
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop external offset top",
			"default": 25
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop external offset bottom",
			"default": 25
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile external offset top",
			"default": 25
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile external offset bottom",
			"default": 25
		},
		{
			"type": "paragraph",
			"content": "Internal offsets"
		},
		{
			"type": "range",
			"id": "inner_offset_top",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop internal offset top",
			"default": 25
		},
		{
			"type": "range",
			"id": "inner_offset_bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop internal offset bottom",
			"default": 25
		},
		{
			"type": "range",
			"id": "inner_offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile internal offset top",
			"default": 25
		},
		{
			"type": "range",
			"id": "inner_offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile internal offset bottom",
			"default": 25
		}
	],
	"blocks": [
		{
			"type": "benefits_item",
			"name": "Item",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Icon",
					"info": "64 x 64px .svg recommended"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "inline_richtext",
					"id": "text",
					"label": "Text",
					"default": "Text"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Benefits"
		}
	]
}
{%- endschema -%}
