{%- comment -%}
------------------------------------------------------------------------------
	Section: Featured products
------------------------------------------------------------------------------
{%- endcomment -%}

{%- render 'adastra' with '/src/styles/carousel.scss' -%}
{%- render 'adastra' with '/src/styles/featured-products.scss' -%}

{%- style -%}
	#shopify-section-{{- section.id -}} {
		padding-top: {{- section.settings.offset_top_mobile -}}px;
		padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
	}

	@media screen and (min-width: 768px) {
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_desktop -}}px;
			padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
		}
	}
{%- endstyle -%}

{%- assign heading      		           = section.settings.heading -%}
{%- assign link_label      		           = section.settings.link_label -%}
{%- assign link_url      		           = section.settings.link_url -%}
{%- assign layout       		           = section.settings.layout -%}
{%- assign show_arrows       	           = section.settings.show_arrows -%}
{%- assign product_list 		           = section.settings.product_list -%}
{%- assign container 			           = section.settings.container_width -%}
{%- assign enable_color_scheme_inheritance = section.settings.enable_color_scheme_inheritance -%}
{%- assign color_scheme 				   = section.settings.color_scheme -%}
{%- assign is_link                         = false -%}

{%- if link_label != blank and link_url != blank -%}
	{%- assign is_link = true -%}
{%- endif -%}

{%- if enable_color_scheme_inheritance -%}
	{%- assign color_scheme = settings.main_color_scheme -%}
{%- endif -%}

{%- if container == 'inherit' -%}
	{%- assign container_width = settings.container_width -%}
{%- else -%}
	{%- assign container_width = container -%}
{%- endif -%}

{%- capture section_styles -%}
	--container-width: {{- container_width -}}; {{-  -}}
	--inner-offset-top: {{ section.settings.inner_offset_top }}px; {{-  -}}
	--inner-offset-bottom: {{ section.settings.inner_offset_bottom }}px; {{-  -}}
	--inner-offset-top-mobile: {{ section.settings.inner_offset_top_mobile }}px; {{-  -}}
	--inner-offset-bottom-mobile: {{ section.settings.inner_offset_bottom_mobile }}px; {{-  -}}
{%- endcapture -%}

<section
	class="featured-products section-animate featured-products--layout-{{- layout }} featured-products--count-{{ product_list.count }} color-{{ color_scheme.id }}{% if request.visual_preview_mode or section.index == 1 %} animated{% endif %}{% if product_list.count > 1 or product_list == blank %} js-featured-products{% endif %} js-animate"
	id="{{- section.id -}}"
	style="{{- section_styles -}}"
>
	<div class="container">
		{%- if heading != blank -%}
			<div class="featured-products__header{% if is_link %} featured-products__header--with-link{% endif %}">
				<h2>
					{{- heading -}}
				</h2>

				{%- if is_link or show_arrows -%}
					<div class="featured-products__header-inner">
						{%- if is_link -%}
							<a
								class="button-link"
								href="{{- link_url -}}"
							>
								<span data-text="{{- link_label -}}">
									<span>
										{{- link_label -}}
									</span>
								</span>
							</a>
						{%- endif -%}

						{%- if show_arrows -%}
							{%- if product_list == blank or product_list.count > 1 -%}
								<div class="featured-products__buttons-wrapper">
									<button class="swiper-button-prev-new js-featured-products-slider-button-prev">
										{%- render 'icons', icon: 'arrow-left' -%}
									</button>

									<button class="swiper-button-next-new js-featured-products-slider-button-next">
										{%- render 'icons', icon: 'arrow-right' -%}
									</button>
								</div>
							{%- endif -%}
						{%- endif -%}
					</div>
				{%- endif -%}
			</div>
		{%- endif -%}

		<div
			class="featured-products__slider swiper js-featured-products-slider"
			data-slides-in-row="{{- layout -}}"
		>
			<div class="featured-products__row swiper-wrapper">
				{%- if product_list != blank and product_list.count > 0 -%}
					{%- assign image_size = 590 -%}
					{%- assign image_size_tablet = 328 -%}
					{%- assign image_size_mobile = 308 -%}

					{%- if layout == '4' -%}
						{%- assign image_size = 439 -%}
					{%- endif -%}

					{%- for product in product_list -%}
						{% assign is_lazy = true %}

						{% if section.index == 1 and forloop.index == 1 %}
							{% assign is_lazy = false %}
						{% endif %}

						<div class="featured-products__col swiper-slide js-featured-products-slide">
							{%- render
								'product-card',
								product: product,
								size: image_size,
								tablet_size: image_size_tablet,
								mobile_size: image_size_mobile,
								is_lazy: is_lazy
							-%}
						</div>
					{%- endfor -%}
				{%- else -%}
					{%- for i in (1..16) -%}
						<div class="featured-products__col swiper-slide js-featured-products-slide">
							{%- render 'product-card' -%}
						</div>
					{%- endfor -%}
				{%- endif -%}
			</div>
		</div>
	</div>
</section>

{%- if product_list.count > 1 or product_list == blank -%}
	{%- render 'adastra' with '/src/scripts/section-featured-products.js' -%}
{%- endif -%}

{%- schema -%}
{
	"name": "Featured products",
	"class": "featured-products-wrapper",
	"disabled_on": {
		"groups": ["header", "footer", "custom.popup"]
	},
	"settings": [
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "checkbox",
			"id": "enable_color_scheme_inheritance",
			"label": "Enable color scheme inheritance",
			"default": true,
			"info": "When this setting is enabled, the color scheme is inherited from the theme settings."
		},
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "Color scheme",
			"default": "scheme-1"
		},
		{
			"type": "header",
			"content": "General"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"label": "Heading",
			"default": "Featured products"
		},
		{
			"type": "text",
			"id": "link_label",
			"label": "Link label",
			"default": "See all products"
		},
		{
			"type": "url",
			"id": "link_url",
			"label": "Link URL"
		},
		{
			"type": "product_list",
			"id": "product_list",
			"label": "Products",
			"limit": 16
		},
		{
			"type": "select",
			"id": "layout",
			"label": "Layout",
			"options": [
				{
					"value": "3",
					"label": "3 products per row"
				},
				{
					"value": "4",
					"label": "4 products per row"
				}
			],
			"default": "4",
			"info": "Desktop only"
		},
		{
			"type": "checkbox",
			"id": "show_arrows",
			"label": "Show arrows",
			"default": true,
			"info": "Available if heading is not empty"
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "select",
			"id": "container_width",
			"label": "Container width",
			"options": [
				{
					"value": "1808px",
					"label": "Default - 1680px"
				},
				{
					"value": "2048px",
					"label": "Large - 1920px"
				},
				{
					"value": "100%",
					"label": "Full width"
				},
				{
					"value": "inherit",
					"label": "Inherit of general setting"
				}
			],
			"default": "inherit",
			"info": "if you select 'Inherit of general setting', then container width will be used from the Theme settings/Layout"
		},
		{
			"type": "paragraph",
			"content": "External offsets"
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop external offset top",
			"default": 30
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop external offset bottom",
			"default": 30
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile external offset top",
			"default": 30
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile external offset bottom",
			"default": 30
		},
		{
			"type": "paragraph",
			"content": "Internal offsets"
		},
		{
			"type": "range",
			"id": "inner_offset_top",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop internal offset top",
			"default": 30
		},
		{
			"type": "range",
			"id": "inner_offset_bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop internal offset bottom",
			"default": 30
		},
		{
			"type": "range",
			"id": "inner_offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile internal offset top",
			"default": 30
		},
		{
			"type": "range",
			"id": "inner_offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile internal offset bottom",
			"default": 30
		}
	],
	"presets": [
		{
			"name": "Featured products"
		}
	]
}
{%- endschema -%}
