{%- comment -%}
------------------------------------------------------------------------------
	Section: Our story
------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign text_alignment 		            = section.settings.text_alignment -%}
{%- assign heading                 	  		= section.settings.heading -%}
{%- assign subheading                 	  	= section.settings.subheading -%}
{%- assign text 							= section.settings.text -%}
{%- assign button_label            	  		= section.settings.button_label -%}
{%- assign button_aria_label       	  		= section.settings.button_aria_label -%}
{%- assign button_url              	  		= section.settings.button_url -%}
{%- assign button_style            	  		= section.settings.button_style -%}
{%- assign color_scheme      	           	= section.settings.color_scheme -%}
{%- assign enable_color_scheme_inheritance 	= section.settings.enable_color_scheme_inheritance -%}
{%- assign blocks 							= section.blocks -%}
{%- assign container 						= section.settings.container_width -%}

{%- if container == 'inherit' -%}
	{%- assign container_width = settings.container_width -%}
{%- else -%}
	{%- assign container_width = container -%}
{%- endif -%}

{%- if enable_color_scheme_inheritance -%}
	{%- assign color_scheme = settings.main_color_scheme -%}
{%- endif -%}

{%- capture styles -%}
	--text-align: {{ text_alignment | replace: 'left', 'start' | replace: 'right', 'end' }}; {{-  -}}
	--container-width: {{ container_width }}; {{-  -}}
	--inner-offset-top: {{ section.settings.inner_offset_top -}}px; {{-  -}}
	--inner-offset-bottom: {{ section.settings.inner_offset_bottom -}}px; {{-  -}}
	--inner-offset-top-mobile: {{ section.settings.inner_offset_top_mobile -}}px; {{-  -}}
	--inner-offset-bottom-mobile: {{ section.settings.inner_offset_bottom_mobile -}}px; {{-  -}}

	{%- if text_alignment == 'left' -%}
		--content-align: start;
	{%- elsif text_alignment == 'center' -%}
		--content-align: center;
	{%- else -%}
		--content-align: end;
	{%- endif -%}
{%- endcapture -%}

{%- if text != blank or blocks.size > 0 -%}
	{%- render 'adastra' with '/src/styles/our-story.scss' -%}

	{%- style -%}
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_mobile -}}px;
			padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
		}

		@media screen and (min-width: 768px) {
			#shopify-section-{{- section.id -}} {
				padding-top: {{- section.settings.offset_top_desktop -}}px;
				padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
			}
		}
	{%- endstyle -%}

	<section class="our-story color-{{ color_scheme }} js-our-story js-animate {% if request.visual_preview_mode or section.index == 1 %}animated{% endif %}"
			 style="{{- styles -}}"
	>
		<div class="container">
			<div class="our-story__content">
				{%- if heading != blank -%}
					<h2 class="our-story__heading">
						{{- heading -}}
					</h2>
				{%- endif -%}

				{%- if subheading != blank -%}
					<h3 class="our-story__subheading">
						{{- subheading -}}
					</h3>
				{%- endif -%}

				{%- if text != blank -%}
					<div class="our-story__text rte">
						{{- text -}}
					</div>
				{%- endif -%}

				{%- if button_label != blank and button_url != blank -%}
					<a
						href="{{- button_url -}}"
						{%- if button_aria_label != blank -%}aria-label="{{- button_aria_label | escape -}}"{%- endif -%}
						class="our-story__button button button--{{- button_style -}}"
					>
						{{- button_label -}}
					</a>
				{%- endif -%}
			</div>

			{%- if blocks.size > 0 -%}
				<div class="our-story__wrapper">
					{%- for block in blocks -%}
						<div class="our-story__item js-our-story-item">
							{%- assign image = block.settings.image -%}
							{%- assign is_lazy = true -%}

							{%- if section.index == 1 and forloop.index <= 2 -%}
								{%- assign is_lazy = false -%}
							{%- endif -%}

							{%- assign size_width = 340 -%}
							{%- assign size_height = 480 -%}
							{%- assign size_width_2x = size_width | times: 2 -%}
							{%- assign size_height_2x = size_height | times: 2 -%}

							{%- assign size_width_991 = 200 -%}
							{%- assign size_height_991 = 281 -%}
							{%- assign size_width_991_2x = size_width_991 | times: 2 -%}
							{%- assign size_height_991_2x = size_height_991 | times: 2 -%}

							{%- assign size_width_575 = 106 -%}
							{%- assign size_height_575 = 149 -%}
							{%- assign size_width_575_2x = size_width_575 | times: 2 -%}
							{%- assign size_height_575_2x = size_height_575 | times: 2 -%}

							{%- capture img_focal -%}
								--img-pos: {{- image.presentation.focal_point -}}
							{%- endcapture -%}

							<div class="our-story__item-inner">
								{%- if image != blank -%}
									<picture>
										<source srcset="{{ image | image_url: height: size_height_575 }}" media="(max-width: 420px)">
										<source srcset="{{ image | image_url: height: size_height_575 }}" media="(max-width: 575px)">
										<source srcset="{{ image | image_url: height: size_height_991 }}" media="(max-width: 991px)">

										<img class="our-story__item-image"
											 srcset="{{ image | image_url: height: size_height }} 1x, {{ image | image_url: height: size_height_2x }} 2x"
											 src="{{ image | image_url: height: size_height }}"
											 {% if is_lazy %}
												 loading="lazy"
												 fetchpriority="low"
											 {% else %}
												 fetchpriority="high"
												 loading="eager"
											 {% endif %}
											 alt="{{- image.alt | escape -}}"
											 width="{{- size_width -}}"
											 height="{{- size_height -}}"
											 style="{{- img_focal -}}"
										>
									</picture>
								{%- else -%}
									{{ 'image' | placeholder_svg_tag: 'our-story__item-image our-story__item-image--placeholder' }}
								{%- endif -%}
							</div>
						</div>
					{%- endfor -%}
				</div>
			{%- endif -%}
		</div>
	</section>

	{%- render "adastra" with "/src/scripts/our-story.js" -%}

{%- endif -%}

{% schema %}
	{
		"name": "Our story",
		"disabled_on": {
			"groups": ["header", "footer", "custom.popup"]
		},
		"settings": [
			{
				"type": "header",
				"content": "Color"
			},
			{
				"type": "checkbox",
				"id": "enable_color_scheme_inheritance",
				"label": "Enable color scheme inheritance",
				"default": true,
				"info": "When this setting is enabled, the color scheme is inherited from the theme settings."
			},
			{
				"type": "color_scheme",
				"id": "color_scheme",
				"label": "Color scheme",
				"default": "scheme-1"
			},
			{
				"type": "header",
				"content": "General"
			},
			{
				"id": "heading",
				"type": "inline_richtext",
				"label": "Heading",
				"default": "Text heading"
			},
			{
				"id": "subheading",
				"type": "inline_richtext",
				"label": "Subheading",
				"default": "Text subheading"
			},
			{
				"type": "inline_richtext",
				"id": "text",
				"label": "Text",
				"default": "Add text to share customers about your store."
			},
			{
				"id": "button_label",
				"type": "text",
				"label": "Button label",
				"default": "Button label"
			},
			{
				"id": "button_aria_label",
				"type": "text",
				"label": "Button aria-label",
				"info": "Need for good accessibility, e.g. 'All news about'."
			},
			{
				"id": "button_url",
				"type": "url",
				"label": "Button link"
			},
			{
				"id": "button_style",
				"type": "select",
				"label": "Button style",
				"options": [
					{
						"value": "primary",
						"label": "Primary"
					},
					{
						"value": "secondary",
						"label": "Secondary"
					}
				],
				"default": "primary"
			},
			{
				"type": "select",
				"id": "text_alignment",
				"label": "Text alignment",
				"options": [
					{
						"value": "left",
						"label": "Left"
					},
					{
						"value": "center",
						"label": "Center"
					},
					{
						"value": "right",
						"label": "Right"
					}
				],
				"default": "center"
			},
			{
				"type": "header",
				"content": "Layout"
			},
			{
				"type": "select",
				"id": "container_width",
				"label": "Container width",
				"options": [
					{
						"value": "1808px",
						"label": "Default - 1680px"
					},
					{
						"value": "2048px",
						"label": "Large - 1920px"
					},
					{
						"value": "100%",
						"label": "Full width"
					},
					{
						"value": "inherit",
						"label": "Inherit of general setting"
					}
				],
				"default": "inherit",
				"info": "if you select 'Inherit of general setting', then container width will be used from the Theme settings/Layout"
			},
			{
				"type": "paragraph",
				"content": "External offsets"
			},
			{
				"type": "range",
				"id": "offset_top_desktop",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Desktop external offset top",
				"default": 0
			},
			{
				"type": "range",
				"id": "offset_bottom_desktop",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Desktop external offset bottom",
				"default": 0
			},
			{
				"type": "range",
				"id": "offset_top_mobile",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Mobile external offset top",
				"default": 0
			},
			{
				"type": "range",
				"id": "offset_bottom_mobile",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Mobile external offset bottom",
				"default": 0
			},
			{
				"type": "paragraph",
				"content": "Internal offsets"
			},
			{
				"type": "range",
				"id": "inner_offset_top",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Desktop internal offset top",
				"default": 64
			},
			{
				"type": "range",
				"id": "inner_offset_bottom",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Desktop internal offset bottom",
				"default": 64
			},
			{
				"type": "range",
				"id": "inner_offset_top_mobile",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Mobile internal offset top",
				"default": 32
			},
			{
				"type": "range",
				"id": "inner_offset_bottom_mobile",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Mobile internal offset bottom",
				"default": 32
			}
		],
		"blocks": [
			{
				"name": "Image",
				"type": "image",
				"limit": 12,
				"settings": [
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image"
					}
				]
			}
		],
		"presets": [
			{
				"name": "Our story",
				"blocks": [
					{
						"type": "image"
					},
					{
						"type": "image"
					},
					{
						"type": "image"
					},
					{
						"type": "image"
					},
					{
						"type": "image"
					},
					{
						"type": "image"
					},
					{
						"type": "image"
					},
					{
						"type": "image"
					},
					{
						"type": "image"
					},
					{
						"type": "image"
					},
					{
						"type": "image"
					},
					{
						"type": "image"
					}
				]
			}
		]
	}
{% endschema %}
