{%- comment -%}
------------------------------------------------------------------------------
	Section: Password header
------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign default_popup_button_text = "general.password_page.login_form_submit" | t -%}
{%- assign default_open_popup_button = "general.password_page.header_open_popup_button" | t -%}
{%- assign default_form_placeholder	 = "general.password_page.form_placeholder" | t -%}
{%- assign default_form_label 		 = "general.password_page.form_label" | t -%}

{%- assign enable_transparent_header = section.settings.enable_transparent_header -%}

{%- assign button_text 				= section.settings.button_text | default: default_open_popup_button -%}

{%- assign logo 					= section.settings.logo -%}
{%- assign logo_transparent 		= section.settings.logo_transparent | default: logo -%}
{%- assign logo_width 				= section.settings.logo_width -%}
{%- assign logo_width_value			= logo_width -%}
{%- assign logo_width 				= logo_width | append: "x" -%}
{%- assign logo_retina_width 		= logo_width | times: 2 | append: "x" -%}

{%- assign ticker_text 						= section.settings.ticker_text -%}
{%- assign ticker_hide_divider 				= section.settings.ticker_hide_divider -%}
{%- assign ticker_desktop_movement_speed 	= section.settings.ticker_desktop_movement_speed -%}
{%- assign ticker_mobile_movement_speed 	= section.settings.ticker_mobile_movement_speed -%}

{%- assign popup_input_placeholder  = section.settings.popup_input_placeholder | default: default_form_placeholder -%}
{%- assign popup_heading		 	= section.settings.popup_heading -%}
{%- assign popup_button_text 		= section.settings.popup_button_text | default: default_popup_button_text -%}

{%- assign section_background_color		 	= section.settings.section_background -%}
{%- assign section_text_color 				= section.settings.section_text_color -%}
{%- assign section_text_transparent_color 	= section.settings.section_text_transparent_color -%}
{%- assign section_ticker_background_color 	= section.settings.section_ticker_background -%}
{%- assign section_ticker_text_color 		= section.settings.section_ticker_text_color -%}

{%- assign popup_text_color 				= section.settings.popup_text_color -%}
{%- assign popup_background_color 			= section.settings.popup_background_color -%}
{%- assign popup_text_attention_color 		= section.settings.popup_text_attention_color -%}

{%- assign popup_input_color 				= section.settings.input_color %}
{%- assign popup_input_placeholder_color 	= section.settings.popup_input_placeholder_color -%}
{%- assign popup_input_border_color 		= section.settings.popup_input_border_color -%}

{%- assign popup_button_text_color 	   		= section.settings.popup_button_text_color -%}
{%- assign popup_button_background 	   		= section.settings.popup_button_background -%}
{%- assign popup_button_border_color 	   	= section.settings.popup_button_border_color -%}
{%- assign popup_button_text_color_hover 	= section.settings.popup_button_text_color_hover -%}
{%- assign popup_button_background_hover 	= section.settings.popup_button_background_hover -%}
{%- assign popup_button_border_color_hover 	= section.settings.popup_button_border_color_hover -%}

<style>
	:root {
		--password-header-position: {%- if enable_transparent_header -%} fixed {%- else -%} sticky {%- endif -%}; {{-  -}}
	}
</style>

{%- capture section_styles -%}
	--section-background: {{- section_background_color -}}; {{-  -}}
	--section-text-color: {{- section_text_color -}}; {{-  -}}
	--section-text-transparent-color:{{- section_text_transparent_color -}}; {{-  -}}
	--section-ticker-desktop-movement-speed: {{- ticker_desktop_movement_speed -}}s; {{-  -}}
	--section-ticker-mobile-movement-speed: {{- ticker_mobile_movement_speed -}}s; {{-  -}}
	--section-ticker-background: {{- section_ticker_background_color -}}; {{-  -}}
	--section-ticker-text-color: {{- section_ticker_text_color -}}; {{-  -}}
	--popup-text-color: {{- popup_text_color -}}; {{-  -}}
	--popup-background-color: {{- popup_background_color -}}; {{-  -}}
	--popup-text-attention-color: {{- popup_text_attention_color -}}; {{-  -}}
	--popup-input-color: {{- popup_input_color  -}}; {{-  -}}
	--popup-input-placeholder-color: {{- popup_input_placeholder_color -}}; {{-  -}}
	--popup-input-border-color: {{- popup_input_border_color -}}; {{-  -}}
	--button-text-color-secondary: {{- popup_button_text_color -}}; {{-  -}}
	--button-background-color-secondary: {{- popup_button_background -}}; {{-  -}}
	--button-border-color-secondary: {{- popup_button_border_color -}}; {{-  -}}
	--button-text-color-secondary-hover: {{- popup_button_text_color_hover -}}; {{-  -}}
	--button-background-color-secondary-hover: {{- popup_button_background_hover -}}; {{-  -}}
	--button-border-color-secondary-hover: {{- popup_button_border_color_hover -}}; {{-  -}}
{%- endcapture -%}

<header class="password-header {% if enable_transparent_header %} password-header--transparent {% endif %} js-password-header" style="{{- section_styles -}}" {% if enable_transparent_header %} data-transparent-header {% endif %}>
	<div class="password-header__container">
	{%- render 'adastra' with '/src/styles/password-header.scss' -%}

	{%- if ticker_text != blank -%}
		<div class="password-header__ticker js-password-header-ticker-container is-loading">
			<div class="password-header__ticker-items {% if ticker_hide_divider %}password-header__ticker-items--hide-bullets{% endif %} rte js-ticker-content-container">
				{{- ticker_text -}}
			</div>
		</div>
	{%- endif -%}

	<div class="password-header__main">
		<div class="password-header__col">
			<div class="password-header__row">
				<div class="password-header__logo-wrapper">
					{%- if logo != blank -%}
						<img
							class="password-header__logo password-header__logo--default"
							src="{{- logo | img_url: logo_width -}}"
							srcset="{{- logo | img_url: logo_width }} 1x, {{- logo | img_url: logo_retina_width }} 2x"
							alt="{{- logo.alt | default: shop.name | escape -}}"
							width="{{ logo_width_value }}"
							style="--img-desktop-pos: {{ logo.presentation.focal_point }};"
							loading="eager"
							fetchpriority="high"
						>

						{%- if enable_transparent_header -%}
							<img
								class="password-header__logo password-header__logo--transparent"
								src="{{- logo_transparent | img_url: logo_width -}}"
								srcset="{{- logo_transparent | img_url: logo_width }} 1x, {{- logo_transparent | img_url: logo_retina_width }} 2x"
								alt="{{- logo_transparent.alt | default: shop.name | escape -}}"
								width="{{ logo_width_value }}"
								style="--img-desktop-pos: {{ logo_transparent.presentation.focal_point }};"
								loading="eager"
								fetchpriority="high"
							>
						{%- endif -%}
					{%- else -%}
						<span class="h5 password-header__logo-header">{{ shop.name }}</span>
					{%- endif -%}
				</div>
			</div>

			<div class="password-header__row">
				<button
					class="password-header__button button-link focus-visible-outline"
					type="button"
					aria-expanded="false"
					aria-controls="password-popup"
					data-target="password-popup"
					data-js-toggle="password-popup"
				>
					<span data-text="{{- button_text | escape -}}">
						<span>{{- button_text -}}</span>
					</span>
				</button>
			</div>
		</div>
	</div>
	</div>

	{%- render "password-popup",
		popup_heading: popup_heading,
		popup_input_placeholder: popup_input_placeholder,
		popup_button_text: popup_button_text,
		section_id: section.id
	-%}
</header>

{%- schema -%}
	{
		"name": "Password header",
		"class": "password-header-section",
		"settings": [
			{
				"type": "checkbox",
				"id": "enable_transparent_header",
				"default": false,
				"label": "Enable transparent header"
			},
			{
				"type": "text",
				"id": "button_text",
				"label": "Button label",
				"default": "Enter using password"
			},
			{
				"type": "header",
				"content": "Logo"
			},
			{
				"type": "image_picker",
				"id": "logo",
				"label": "Logo"
			},
			{
				"type": "image_picker",
				"id": "logo_transparent",
				"label": "Logo (header transparent)"
			},
			{
				"type": "range",
				"id": "logo_width",
				"min": 20,
				"max": 250,
				"step": 5,
				"default": 140,
				"unit": "px",
				"label": "Logo width",
				"info": "Height will be calculated with image aspect ratio."
			},
			{
				"type": "header",
				"content": "Ticker"
			},
			{
				"type": "richtext",
				"id": "ticker_text",
				"label": "Text",
				"info": "Leave it empty to hide a ticker"
			},
			{
				"type": "checkbox",
				"id": "ticker_hide_divider",
				"label": "Hide divider",
				"default": false
			},
			{
				"type": "range",
				"id": "ticker_desktop_movement_speed",
				"label": "Movement speed (desktop)",
				"min": 4,
				"max": 100,
				"unit": "s",
				"default": 40
			},
			{
				"type": "range",
				"id": "ticker_mobile_movement_speed",
				"label": "Movement speed (mobile)",
				"min": 4,
				"max": 100,
				"unit": "s",
				"default": 40
			},
			{
				"type": "header",
				"content": "Popup"
			},
			{
				"type": "text",
				"id": "popup_heading",
				"label": "Heading",
				"default": "Enter store using password"
			},
			{
				"type": "text",
				"id": "popup_input_placeholder",
				"label": "Input placeholder",
				"default": "Enter your password"
			},
			{
				"type": "text",
				"id": "popup_button_text",
				"label": "Button label",
				"default": "Enter"
			},
			{
				"type": "header",
				"content": "Colors"
			},
			{
				"type": "color",
				"id": "section_background",
				"label": "Section background",
				"default": "#FFFFFF"
			},
			{
				"type": "color",
				"id": "section_text_color",
				"label": "Section text",
				"default": "#000000"
			},
			{
				"type": "color",
				"id": "section_text_transparent_color",
				"label": "Section text (transparent)",
				"default": "#FFFFFF"
			},
			{
				"type": "color",
				"id": "section_ticker_background",
				"label": "Section ticker background",
				"default": "#F2F2F2"
			},
			{
				"type": "color",
				"id": "section_ticker_text_color",
				"label": "Section ticker text",
				"default": "#000000"
			},
			{
				"type": "color",
				"id": "popup_text_color",
				"label": "Popup text",
				"default": "#000000"
			},
			{
				"type": "color",
				"id": "popup_background_color",
				"label": "Popup background",
				"default": "#FFFFFF"
			},
			{
				"type": "color",
				"id": "input_color",
				"label": "Input text",
				"default": "#000000"
			},
			{
				"type": "color",
				"id": "popup_input_placeholder_color",
				"label": "Input placeholder",
				"default": "#767676"
			},
			{
				"type": "color",
				"id": "popup_input_border_color",
				"label": "Input border",
				"default": "#D8D8D8"
			},
			{
				"type": "color",
				"id": "popup_text_attention_color",
				"label": "Text attention",
				"default": "#E41616"
			},
			{
				"type": "color",
				"id": "popup_button_text_color",
				"label": "Button text",
				"default": "#FFFFFF"
			},
			{
				"type": "color",
				"id": "popup_button_background",
				"label": "Button background",
				"default": "#000000"
			},
			{
				"type": "color",
				"id": "popup_button_border_color",
				"label": "Button border",
				"default": "#000000"
			},
			{
				"type": "color",
				"id": "popup_button_text_color_hover",
				"label": "Button text (hover)",
				"default": "#FFFFFF"
			},
			{
				"type": "color",
				"id": "popup_button_background_hover",
				"label": "Button background (hover)",
				"default": "#292929"
			},
			{
				"type": "color",
				"id": "popup_button_border_color_hover",
				"label": "Button border (hover)",
				"default": "#000000"
			}
		]
	}
{%- endschema -%}
