{%- comment -%}
------------------------------------------------------------------------------
	Section: Password footer
------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign default_text 			= "general.password_page.footer_text" | t | replace: "&lt;", "<" | replace: "&gt;", ">" -%}
{%- assign text 					= section.settings.text | default: default_text -%}
{%- assign text_color 				= section.settings.text_color -%}
{%- assign link_label 				= section.settings.link_label -%}
{%- assign link_url 				= section.settings.link_url | default: '/admin' -%}

{%- assign background_color			= section.settings.background_color -%}
{%- assign border_top_color 		= section.settings.border_top_color -%}

{%- capture style -%}
	--text-color: {{ text_color -}}; {{- -}}
	--background-color: {{ background_color -}};
	--border-top-color: {{ border_top_color -}};
{%- endcapture -%}

<section class="password-footer" style="{{- style -}}">
	{%- render 'adastra' with '/src/styles/password-footer.scss' -%}

	<div class="password-footer__container">
		<div class="password-footer__text rte">
			{{- text -}}
		</div>

		{%- if link_url != blank and link_label != blank -%}
			<a href="{{- link_url -}}" class="password-footer__button-link button-link focus-visible-outline">
				<span data-text="{{- link_label | escape -}}">
					<span>{{- link_label -}}</span>
				</span>
			</a>
		{%- endif -%}
	</div>
</section>

{%- schema -%}
	{
		"name": "Password footer",
		"settings": [
			{
				"type": "inline_richtext",
				"id": "text",
				"label": "Text",
				"default": "Are you the store owner?"
			},
			{
				"type": "text",
				"id": "link_label",
				"label": "Login link label",
				"default": "Log in here"
			},
			{
				"type": "url",
				"id": "link_url",
				"label": "Login link url",
				"info": "The default url is '/admin'"
			},
			{
				"type": "header",
				"content": "Colors"
			},
			{
				"type": "color",
				"id": "text_color",
				"label": "Text",
				"default": "#000000"
			},
			{
				"type": "color",
				"id": "background_color",
				"label": "Background",
				"default": "#FFFFFF"
			},
			{
				"type": "color",
				"id": "border_top_color",
				"label": "Top border",
				"default": "#E9E9E9"
			}
		]
	}
{%- endschema -%}
