{%- comment -%}
------------------------------------------------------------------------------
	Section: Password content
------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign default_label 		= "general.password_page.content_label" | t -%}
{%- assign default_success 		= "general.password_page.content_success" | t  -%}
{%- assign default_button_label = "general.password_page.content_button_label" | t -%}

{%- assign heading 						= section.settings.heading -%}
{%- assign text 			   	   		= section.settings.text -%}
{%- assign success_message 		   		= section.settings.success_message | default: default_success -%}
{%- assign show_form 			   		= section.settings.show_form -%}
{%- assign input_placeholder 	   		= section.settings.input_placeholder | default: default_label -%}
{%- assign button_label 	       		= section.settings.button_label | default: default_button_label -%}
{%- assign background_image 	   		= section.settings.background_image -%}
{%- assign background_image_mobile 		= section.settings.background_image_mobile | default: background_image -%}

{%- assign overlay_color 				= section.settings.overlay_color -%}
{%- assign background_color 			= section.settings.background_color -%}
{%- assign heading_color	       		= section.settings.heading_color -%}
{%- assign text_color       	   		= section.settings.text_color -%}

{%- assign input_color 		       		= section.settings.input_color -%}
{%- assign input_placeholder_color 		= section.settings.input_placeholder_color -%}
{%- assign input_border_color      		= section.settings.input_border_color -%}

{%- assign text_attention_color      	= section.settings.text_attention_color -%}
{%- assign text_success_color      		= section.settings.text_success_color -%}

{%- assign button_style 		   		= section.settings.button_style -%}
{%- assign button_text_color 	   		= section.settings.button_text_color -%}
{%- assign button_background 	   		= section.settings.button_background -%}
{%- assign button_border_color 	   		= section.settings.button_border_color -%}
{%- assign button_text_color_hover 	   	= section.settings.button_text_color_hover -%}
{%- assign button_background_hover 		= section.settings.button_background_hover -%}
{%- assign button_border_color_hover 	= section.settings.button_border_color_hover -%}

{%- assign section_offset_top_mobile 		= section.settings.offset_top_mobile -%}
{%- assign section_offset_bottom_mobile		= section.settings.offset_bottom_mobile -%}
{%- assign section_offset_top_desktop 		= section.settings.offset_top_desktop -%}
{%- assign section_offset_bottom_desktop	= section.settings.offset_bottom_desktop -%}

{%- capture app_block -%}
	{%- for block in section.blocks -%}
		{%- case block.type -%}
			{%- when '@app' -%}
				{% render block %}
		{%- endcase -%}
	{%- endfor -%}
{%- endcapture -%}

{%- capture custom_liquid_block  -%}
	{%- for block in section.blocks -%}
		{%- case block.type -%}
			{%- when 'custom_liquid' -%}
				{{ block.settings.custom_liquid }}
		{%- endcase -%}
	{%- endfor -%}
{%- endcapture -%}

{%- capture section_style -%}
	--section-offset-top-mobile: {{- section_offset_top_mobile -}}px; {{-  -}}
	--section-offset-bottom-mobile: {{- section_offset_bottom_mobile -}}px; {{-  -}}
	--section-offset-top-desktop: {{- section_offset_top_desktop -}}px; {{-  -}}
	--section-offset-bottom-desktop: {{- section_offset_bottom_desktop -}}px; {{-  -}}
	--overlay-color: {{- overlay_color -}}; {{-  -}}
	--background-color: {{- background_color -}}; {{-  -}}
	--heading-color: {{- heading_color -}}; {{-  -}}
	--text-color: {{- text_color -}}; {{-  -}}
	--input-color: {{- input_color -}}; {{-  -}}
	--input-placeholder-color: {{- input_placeholder_color -}}; {{-  -}}
	--input-border-color: {{- input_border_color -}}; {{-  -}}
	--text-attention-color: {{- text_attention_color -}}; {{-  -}}
	--text-success-color: {{- text_success_color -}}; {{-  -}}
	--button-text-color-{{- button_style -}}: {{- button_text_color -}}; {{-  -}}
	--button-background-color-{{- button_style -}}: {{- button_background -}}; {{-  -}}
	--button-border-color-{{- button_style -}}: {{- button_border_color -}}; {{-  -}}
	--button-text-color-{{- button_style -}}-hover: {{- button_text_color_hover -}}; {{-  -}}
	--button-background-color-{{- button_style -}}-hover: {{- button_background_hover -}}; {{-  -}}
	--button-border-color-{{- button_style -}}-hover: {{- button_border_color_hover -}}; {{-  -}}
{%- endcapture -%}

<section class="password-content js-password-content" style="{{- section_style -}}">
	{%- render 'adastra' with '/src/styles/password-content.scss' -%}
	<div class="password-content__container">

		{%- if background_image != blank -%}
			{%- capture img_focal -%}
				--img-desktop-pos: {{ background_image.presentation.focal_point }}; --img-mob-pos: {{ background_image_mobile.presentation.focal_point }};
			{%- endcapture -%}

			<div class="password-content__image-wrapper">
				<picture>
					<source
						srcset="{{ background_image_mobile | image_url: width: 375 }} 1x, {{ background_image_mobile | image_url: width: 750 }} 2x"
						media="(max-width: 375px)"
					/>

					<source
						srcset="{{ background_image_mobile | image_url: width: 575 }} 1x, {{ background_image_mobile | image_url: width: 1150 }} 2x"
						media="(max-width: 575px)"
					/>

					<source
						srcset="{{ background_image_mobile | image_url: width: 767 }} 1x, {{ background_image_mobile | image_url: width: 1534 }} 2x"
						media="(max-width: 767px)"
					/>

					<source
						srcset="{{ background_image | image_url: width: 991 }} 1x, {{ background_image | image_url: width: 1982 }} 2x"
						media="(max-width: 991px)"
					/>

					<source
						srcset="{{ background_image | image_url: width: 1199 }} 1x, {{ background_image | image_url: width: 2398 }} 2x"
						media="(max-width: 1199px)"
					/>

					<source
						srcset="{{ background_image | image_url: width: 1500 }} 1x, {{ background_image | image_url: width: 3000 }} 2x"
						media="(max-width: 1500px)"
					/>

					<img
						class="password-content__image need-animate js-animate"
						srcset="{{ background_image | image_url: width: 1920 }} 1x, {{ background_image | image_url: width: 3840 }} 2x"
						src="{{ background_image | image_url: width: 1920 }}"
						alt="{{- background_image.alt -}}"
						style="{{ img_focal }}"
						loading="eager"
						fetchpriority="high"
					/>
				</picture>
			</div>
		{%- endif -%}

		<div class="password-content__content-box">
			{%- if heading != blank or text != blank or show_form -%}
				{%- if heading != blank -%}
					<h1 class="h2 password-content__heading">
						{{- heading -}}
					</h1>
				{%- endif -%}

				{%- if text != blank -%}
					<div class="password-content__text rte">
						{{- text -}}
					</div>
				{%- endif -%}

				{%- if shop.password_message != blank -%}
					<div class="password-content__text rte">
						{{ shop.password_message }}
					</div>
				{%- endif -%}

				{%- if show_form -%}
					{%- if custom_liquid_block != blank -%}
						{{ custom_liquid_block }}
					{%- endif -%}

					{%- if app_block != blank -%}
						{{- app_block -}}
					{%- else -%}
						{%- assign id = 'ContactForm--' | append: section.id -%}

						{% form 'customer', class: 'password-content__form js-password-content-form', id: id %}
							<input type="hidden" name="contact[tags]" value="password-content"/>

							<div class="password-content__form-field">
								<div class="input-wrapper">
									<input
										id="PasswordContentForm--{{- section.id -}}"
										type="email"
										name="contact[email]"
										class="input password-content__form-input js-password-content-input"
										value="{{- form.email -}}"
										aria-required="true"
										autocapitalize="off"
										autocomplete="email"
										{% if form.errors %}
											aria-invalid="true"
											aria-describedby="Newsletter-error--{{- section.id -}}"
										{% elsif form.posted_successfully? %}
											aria-describedby="Newsletter-success--{{- section.id -}}"
										{% endif %}
										placeholder="{{- input_placeholder -}}"
										required
									>

									<label class="input-label" for="PasswordContentForm--{{- section.id -}}">
										{{- input_placeholder -}}
									</label>
								</div>

								<button
									type="submit"
									class=" button button--{{- button_style }} password-content__form-button"
								>
									{%- if button_style == 'primary' -%}
										{{ button_label }}
									{%- else -%}
										<span data-text="{{ button_label | escape }}">
											<span>{{ button_label }}</span>
										</span>
									{%- endif -%}
								</button>
							</div>

							{%- if form.errors -%}
								<p class="password-content__form-message password-content__form-message--error"
									   id="Newsletter-error--{{- section.id -}}">
									{% render 'icons', icon: 'error' %}

									{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
								</p>
							{%- endif -%}

							{%- if form.posted_successfully? -%}
								<p
									class="password-content__form-message password-content__form-message--success"
									id="Newsletter-success--{{- section.id -}}"
									tabindex="-1"
								>
									{% render 'icons', icon: 'success' %}

									{{- success_message -}}
								</p>
							{%- endif -%}
						{% endform %}
					{%- endif -%}
				{%- endif -%}
			{%- endif -%}
		</div>
	</div>

	{%- render 'adastra' with '/src/scripts/section-password-content.js' -%}
</section>

{%- schema -%}
{
	"name": "Password content",
	"class": "password-content-wrapper",
	"settings": [
		{
			"type": "inline_richtext",
			"id": "heading",
			"label": "Heading",
			"default": "Opening soon"
		},
		{
			"type": "richtext",
			"id": "text",
			"label": "Text",
			"default": "<p>Be the first to know when we launch.</p>"
		},
		{
			"type": "textarea",
			"id": "success_message",
			"label": "Success message",
			"default": "Thanks for subscribing"
		},
		{
			"type": "checkbox",
			"id": "show_form",
			"label": "Show form",
			"default": true
		},
		{
			"type": "text",
			"id": "input_placeholder",
			"label": "Input placeholder",
			"default": "Enter email address..."
		},
		{
			"type": "text",
			"id": "button_label",
			"label": "Button label",
			"default": "Subscribe"
		},
		{
			"type": "image_picker",
			"id": "background_image",
			"label": "Background image"
		},
		{
			"type": "image_picker",
			"id": "background_image_mobile",
			"label": "Background image mobile"
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color_background",
			"id": "overlay_color",
			"label": "Overlay"
		},
		{
			"type": "color",
			"id": "background_color",
			"label": "Background",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "heading_color",
			"label": "Heading",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "text_color",
			"label": "Text",
			"default": "#767676"
		},
		{
			"type": "color",
			"id": "input_color",
			"label": "Input text",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "input_placeholder_color",
			"label": "Input placeholder",
			"default": "#757575"
		},
		{
			"type": "color",
			"id": "input_border_color",
			"label": "Input Border",
			"default": "#D8D8D8"
		},
		{
			"type": "color",
			"id": "text_attention_color",
			"label": "Text attention",
			"default": "#E41616"
		},
		{
			"type": "color",
			"id": "text_success_color",
			"label": "Text success",
			"default": "#36BA20"
		},
		{
			"type": "select",
			"id": "button_style",
			"label": "Button style",
			"options": [
				{
					"value": "primary",
					"label": "Primary"
				},
				{
					"value": "secondary",
					"label": "Secondary"
				}
			],
			"default": "secondary"
		},
		{
			"type": "color",
			"id": "button_text_color",
			"label": "Button text",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "button_background",
			"label": "Button background",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "button_border_color",
			"label": "Button border",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "button_text_color_hover",
			"label": "Button text (hover)",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "button_background_hover",
			"label": "Button background (hover)",
			"default": "#292929"
		},
		{
			"type": "color",
			"id": "button_border_color_hover",
			"label": "Button border (hover)",
			"default": "#000000"
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Desktop offset top",
			"default": 64
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Desktop offset bottom",
			"default": 64
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Mobile offset top",
			"default": 64
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Mobile offset bottom",
			"default": 64
		}
	],
	"blocks": [
		{
			"type": "@app"
		},
		{
			"name": "Custom liquid",
			"type": "custom_liquid",
			"settings": [
				{
					"type": "liquid",
					"id": "custom_liquid",
					"label": "Custom liquid",
					"info": "Simple custom liquid"
				}
			]
		}
	]
}
{%- endschema -%}
