{%- comment -%}
------------------------------------------------------------------------------
	Section: Pickup availability
------------------------------------------------------------------------------
{%- endcomment -%}

{%- comment -%}theme-check-disable UndefinedObject{%- endcomment -%}
{%- assign pick_up_availabilities   = product_variant.store_availabilities | where: 'pick_up_enabled', true -%}
{%- assign check_other_stores_label = 'products.product.pickup_availability.check_other_stores' | t -%}
{%- assign view_store_info_label    = 'products.product.pickup_availability.view_store_info' | t -%}
{%- assign drawer_heading           = 'products.product.pickup_availability.drawer_title' | t -%}

{%- if pick_up_availabilities.size > 0 -%}
	<pickup-availability-preview class="pickup-availability-preview">
		{%- assign closest_location = pick_up_availabilities.first -%}

		{%- render 'icons', icon: 'local-pickup' -%}

		<div class="pickup-availability-info">
			{%- if closest_location.available -%}
				<p>
					{{- 'products.product.pickup_availability.pick_up_available_at_html' | t: location_name: closest_location.location.name -}}
				</p>

				<p>
					{{- closest_location.pick_up_time -}}
				</p>

				<button
					id="ShowPickupAvailabilityDrawer-{{- section.id -}}"
					class="button-link pickup-availability-button"
					aria-haspopup="dialog"
					type="button"
					data-target="productAvailability-{{- section.id -}}"
					data-js-toggle="productAvailability-{{- section.id -}}"
					data-js-toggle-selector
				>
					{%- if pick_up_availabilities.size == 1 -%}
						<span data-text="{{- view_store_info_label -}}">
							<span>{{- view_store_info_label -}}</span>
						</span>
					{%- else -%}
						<span data-text="{{- check_other_stores_label -}}">
							<span>{{- check_other_stores_label -}}</span>
						</span>
					{%- endif -%}
				</button>
			{%- else -%}
				<p>
					{{ 'products.product.pickup_availability.pick_up_unavailable_at_html' | t: location_name: closest_location.location.name }}
				</p>

				{%- if pick_up_availabilities.size > 1 -%}
					<button
						id="ShowPickupAvailabilityDrawer-{{- section.id -}}"
						class="button-link pickup-availability-button"
						aria-haspopup="dialog"
						type="button"
						data-target="productAvailability-{{- section.id -}}"
						data-js-toggle="productAvailability-{{- section.id -}}"
						data-js-toggle-selector
					>
						<span data-text="{{- check_other_stores_label -}}">
							<span>{{- check_other_stores_label -}}</span>
						</span>
					</button>
				{%- endif -%}
			{%- endif -%}
		</div>
	</pickup-availability-preview>

	<pickup-availability-drawer
		id="productAvailability-{{- section.id -}}"
		class="drawer pickup-availability-drawer"
		tabindex="-1"
		role="dialog"
		aria-modal="true"
		aria-labelledby="PickupAvailabilityHeading-{{- section.id -}}"
	>
		<div class="drawer__header">
			<h2 class="h4 drawer__title" id="PickupAvailabilityHeading-{{- section.id -}}">
				{{- drawer_heading -}}
			</h2>

			<button
				class="drawer__close {{ class_close }}"
				data-target="productAvailability-{{- section.id -}}"
				data-js-toggle="productAvailability-{{- section.id -}}"
				data-js-toggle-selector
				aria-label="{{ 'general.accessibility.close' | t | escape }}"
			>
				{%- render 'icons', icon: 'menu-close' -%}
			</button>
		</div>

		<div class="drawer__body pickup-availability-drawer__body js-scroll-lock-container">
			{%- unless product_variant.product.has_only_default_variant -%}
				<div class="pickup-availability-variant">
					{%- for product_option in product_variant.product.options_with_values -%}
						<p class="pickup-availability-option">
							{{- product_option.name | escape -}}:

							<span class="pickup-availability-option-value">
								{{- product_option.selected_value | escape -}}
							</span>
						</p>
					{%- endfor -%}
				</div>
			{%- endunless -%}

			<ul
				class="pickup-availability-list"
				role="list"
				data-store-availability-drawer-content
			>
				{%- for availability in pick_up_availabilities -%}
					{%- assign location_name = availability.location.name -%}
					{%- assign address       = availability.location.address -%}
					{%- assign phone         = address.phone -%}
					{%- assign available     = availability.available -%}

					<li class="pickup-availability-list__item">
						<h3 class="pickup-availability-list__item-title h5">
							{{- location_name | escape -}}
						</h3>

						<p class="pickup-availability-list__item-description">
							{%- if available -%}
								{% render 'icons', icon: 'success' %} {{ 'products.product.pickup_availability.pick_up_available' | t }}, {{ availability.pick_up_time | downcase }}
							{% else %}
								{% render 'icons', icon: 'error' %} {{ 'products.product.pickup_availability.pick_up_unavailable' | t }}
							{%- endif -%}
						</p>

						{%- if address != blank -%}
							<address class="pickup-availability-address">
								{{ address | format_address }}
							</address>
						{%- endif -%}

						{%- if phone != blank -%}
							<a
								class="button-link pickup-availability-phone"
								href="tel:{{- phone -}}"
							>
								{%- render 'icons', icon: 'phone' -%}

								<span data-text="{{- phone -}}">
									<span>{{- phone -}}</span>
								</span>
							</a>
						{%- endif -%}
					</li>
				{%- endfor -%}
			</ul>
		</div>
	</pickup-availability-drawer>
{%- endif -%}
