{%- comment -%}
------------------------------------------------------------------------------
	Section: Product recommendations
------------------------------------------------------------------------------
{%- endcomment -%}

{%- style -%}
	#shopify-section-{{- section.id -}} {
		padding-top: {{- section.settings.offset_top_mobile -}}px;
		padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
	}

	@media screen and (min-width: 768px) {
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_desktop -}}px;
			padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
		}
	}
{%- endstyle -%}

{%- assign enable_color_scheme_inheritance = section.settings.enable_color_scheme_inheritance -%}
{%- assign color_scheme 				   = section.settings.color_scheme -%}
{%- assign heading    					   = section.settings.heading -%}
{%- assign limit      					   = section.settings.products_to_show -%}

{%- if enable_color_scheme_inheritance -%}
	{%- assign color_scheme = settings.main_color_scheme -%}
{%- endif -%}

{%- assign container = section.settings.container_width -%}

{%- if container == 'inherit' -%}
	{%- assign container_width = settings.container_width -%}
{%- else -%}
	{%- assign container_width = container -%}
{%- endif -%}

{%- assign collection_handle = section.settings.collection -%}
{%- assign collection = collections[collection_handle] -%}

{%- assign product_list = collection.products -%}

{%- assign enable_shopify_recommendations = section.settings.enable_shopify_recommendations -%}

{%- liquid
	assign slider_enabled = false

	if enable_shopify_recommendations or product_list.count > 1
		assign slider_enabled = true
	endif
-%}

{%- capture product_recommendations_row_wrapper_classes -%}
	product-recommendations__row-wrapper product-recommendations__slider swiper js-product-recommendations-row-wrapper {{-  -}}
	{% if slider_enabled %} js-featured-content-slider {{-  -}} {%- endif -%}
{%- endcapture -%}

{%- capture product_recommendations_row_classes -%}
	product-recommendations__row swiper-wrapper {{- -}}
{%- endcapture -%}

{%- capture styles -%}
	--container-width: {{- container_width -}};
	--product-recommendations-inner-offset-top: {{ section.settings.inner_offset_top }}px;
	--product-recommendations-inner-offset-bottom: {{ section.settings.inner_offset_bottom }}px;
	--product-recommendations-inner-offset-top-mobile: {{ section.settings.inner_offset_top_mobile }}px;
	--product-recommendations-inner-offset-bottom-mobile: {{ section.settings.inner_offset_bottom_mobile }}px;
{%- endcapture -%}

{%- render 'adastra' with '/src/styles/product-recommendations.scss' -%}

<section
	class="product-recommendations color-{{ color_scheme }} is-loading js-product-recommendations js-animate {% if request.visual_preview_mode or section.index == 1 %}animated{% endif %}"
	id="{{- section.id -}}"
	style="{{- styles -}}"
	data-product-id="{{- product.id -}}"
	data-limit="{{- limit -}}"
	{% if enable_shopify_recommendations %}
		data-product-recommendations
	{% endif %}
>
	<div class="container section-animate">
		<div class="product-recommendations__header">
			{%- if heading != blank -%}
				<h2>{{- heading -}}</h2>
			{%- endif -%}

			{%- if slider_enabled -%}
				<div class="product-recommendations__buttons-wrapper">
					<button
						class="focus-visible-outline swiper-button-prev-new js-product-recommendations-slider-button-prev">
						{%- render 'icons', icon: 'arrow-left' -%}
					</button>

					<button
						class="focus-visible-outline swiper-button-next-new js-product-recommendations-slider-button-next">
						{%- render 'icons', icon: 'arrow-right' -%}
					</button>
				</div>
			{%- endif -%}
		</div>

		<div class="js-product-recommendations-content">
			<div class="{{- product_recommendations_row_wrapper_classes | strip_newlines }} is-active">
				<div class="{{- product_recommendations_row_classes | strip_newlines -}}">
					{%- capture slides -%}
						{%- assign image_size        = 480 -%}
						{%- assign image_size_tablet = 630 -%}
						{%- assign image_size_mobile = 383 -%}

						{%- if enable_shopify_recommendations -%}
							{%- if recommendations.products_count > 0 -%}
								{%- for product in recommendations.products limit: limit -%}
									<div class="product-recommendations__col swiper-slide js-product-recommendations-col">
										{%- render
											'product-card',
											product: product,
											size: image_size,
											tablet_size: image_size_tablet,
											mobile_size: image_size_mobile
										-%}

										<div class="product-recommendations__preloader-wrapper" aria-hidden="true">
											<div class="product-recommendations__preloader"></div>
										</div>
									</div>
								{%- endfor -%}
							{%- endif -%}
						{%- elsif product_list != blank and product_list.count > 0 -%}
							{%- for product in product_list limit: limit -%}
								<div class="product-recommendations__col swiper-slide">
									{%- render
										'product-card',
										product: product,
										size: image_size,
										tablet_size: image_size_tablet,
										mobile_size: image_size_mobile
									-%}
								</div>
							{%- endfor -%}
						{%- endif -%}
					{%- endcapture -%}

					{%- if slides != "" -%}
						{{- slides -}}
					{%- else -%}
						{%- for i in (1..limit) -%}
							<div class="product-recommendations__col swiper-slide">
								{%- render 'product-card', product: nil -%}

								{%- if enable_shopify_recommendations -%}
									<div class="product-recommendations__preloader-wrapper" aria-hidden="true">
										<div class="product-recommendations__preloader"></div>
									</div>
								{%- endif -%}
							</div>
						{%- endfor -%}
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
</section>

{%- render 'adastra' with '/src/scripts/component-featured-content-slider.js' -%}
{%- render 'adastra' with '/src/scripts/section-product-recommendations.js' -%}

{%- schema -%}
{
	"name": "Product recommendations",
	"settings": [
		{
			"type": "checkbox",
			"id": "enable_color_scheme_inheritance",
			"label": "Enable color scheme inheritance",
			"default": true,
			"info": "When this setting is enabled, the color scheme is inherited from the theme settings."
		},
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "Color scheme",
			"default": "scheme-1"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"label": "Heading",
			"default": "Recommendations"
		},
		{
			"type": "range",
			"id": "products_to_show",
			"min": 4,
			"max": 12,
			"step": 1,
			"default": 4,
			"label": "Products to show"
		},
		{
			"type": "checkbox",
			"id": "enable_shopify_recommendations",
			"label": "Use Shopify recommendations",
			"default": true
		},
		{
			"type": "collection",
			"id": "collection",
			"label": "Resource collection",
			"info": "Use collection if Shopify recommendations is off."
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "select",
			"id": "container_width",
			"label": "Container width",
			"options": [
				{
					"value": "1808px",
					"label": "Default - 1680px"
				},
				{
					"value": "2048px",
					"label": "Large - 1920px"
				},
				{
					"value": "100%",
					"label": "Full width"
				},
				{
					"value": "inherit",
					"label": "Inherit of general setting"
				}
			],
			"default": "inherit",
			"info": "if you select 'Inherit of general setting', then container width will be used from the Theme settings/Layout"
		},
		{
			"type": "paragraph",
			"content": "External offsets"
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop external offset top",
			"default": 50
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop external offset bottom",
			"default": 50
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile external offset top",
			"default": 25
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile external offset bottom",
			"default": 25
		},
		{
			"type": "paragraph",
			"content": "Internal offsets"
		},
		{
			"type": "range",
			"id": "inner_offset_top",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop internal offset top",
			"default": 25
		},
		{
			"type": "range",
			"id": "inner_offset_bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop internal offset bottom",
			"default": 25
		},
		{
			"type": "range",
			"id": "inner_offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile internal offset top",
			"default": 25
		},
		{
			"type": "range",
			"id": "inner_offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile internal offset bottom",
			"default": 25
		}
	]
}
{%- endschema -%}
