{%- comment -%}
------------------------------------------------------------------------------
	Section: Search
------------------------------------------------------------------------------
{%- endcomment -%}

{%- render 'adastra' with '/src/styles/search.scss' -%}

{%- style -%}
	#shopify-section-{{- section.id -}} {
		padding-top: {{- section.settings.offset_top_mobile -}}px;
		padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
	}

	@media screen and (min-width: 768px) {
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_desktop -}}px;
			padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
		}
	}
{%- endstyle -%}

{%- assign heading 						= section.settings.heading -%}
{%- assign paginate_by 					= section.settings.paginate_by -%}
{%- assign pagination_type 				= section.settings.pagination_type -%}
{%- assign load_more_style 				= section.settings.load_more_style -%}
{%- assign search_articles 				= settings.predictive_search_articles -%}
{%- assign search_pages    				= settings.predictive_search_pages -%}
{%- assign show_color_swatch_in_filters = section.settings.show_color_swatch_in_filters -%}
{%- assign filters_type 				= section.settings.filters_type | default: 'top-bar' -%}
{%- assign container 					= section.settings.container_width -%}
{%- assign product_list 				= search -%}
{%- assign filters_empty		 		= false -%}
{%- assign filters_size 				= product_list.filters.size -%}

{%- assign enable_color_scheme_inheritance 	= section.settings.enable_color_scheme_inheritance -%}
{%- assign color_scheme 				   	= section.settings.color_scheme -%}

{%- if enable_color_scheme_inheritance -%}
	{%- assign color_scheme = settings.main_color_scheme -%}
{%- endif -%}

{%- if product_list.filters == empty -%}
	{%- assign filters_empty = true -%}
{%- endif -%}

{% if container == 'inherit' %}
	{% assign container_width = settings.container_width %}
{% else %}
	{% assign container_width = container %}
{% endif %}

{%- capture section_styles -%}
	--container-width: {{ container_width }}; {{-  -}}
	--inner-offset-top: {{ section.settings.inner_offset_top }}px; {{-  -}}
	--inner-offset-bottom: {{ section.settings.inner_offset_bottom }}px; {{-  -}}
	--inner-offset-top-mobile: {{ section.settings.inner_offset_top_mobile }}px; {{-  -}}
	--inner-offset-bottom-mobile: {{ section.settings.inner_offset_bottom_mobile }}px; {{-  -}}
{%- endcapture -%}

{%- assign search_type_values = search.types[0] -%}

{%- if search.types.size > 1 -%}
	{%- capture search_type_values -%}
		product
		{%- if search_articles -%},article{%- endif -%}
		{%- if search_pages -%},page{%- endif -%}
	{%- endcapture -%}
{%- endif -%}

{%- assign active_filters_size = 0 -%}

{%- for filter in search.filters -%}
	{%- case filter.type -%}
		{%- when 'list' or 'boolean' -%}
			{%- assign active_filters_size = active_filters_size | plus: filter.active_values.size -%}
		{%- when 'price_range' -%}
			{%- if filter.min_value.value > 0 or filter.max_value.value < filter.range_max -%}
				{%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
					{%- assign active_filters_size = active_filters_size | plus: 1 -%}
				{%- endif -%}
			{%- endif -%}
	{%- endcase -%}
{%- endfor -%}

{%- if filters_type == 'sidebar' -%}
	{% assign enable_sidebar = true %}
{%- endif -%}

{%- if filters_type == 'top-bar' -%}
	{% assign enable_topbar = true %}
{%- endif -%}

<section
	class="search {% if enable_sidebar %}search--with-sidebar{% elsif enable_topbar %}search--with-top-bar{% endif %} {% if filters_empty == true %}filters-hidden{% endif %} color-{{ color_scheme.id }}  js-search" id="{{- section.id -}}"
	style="{{ section_styles }}"
	data-type="{%- if search.types.size == 1 -%}{{- search.types[0] -}}{%- else -%}product{%- endif -%}"
>
	<div class="is-hidden js-filters-state" data-filters-empty="{{- filters_empty -}}"></div>

	<div class="search__container">
		<div class="search__header">
			<h1 class="h1 search__title">
				{%- if heading != blank -%}
					{{- heading -}}
				{%- else -%}
					{{- 'general.search.heading' | t -}}
				{%- endif -%}
				{%- if search.performed -%}
					: {{ search.terms }}
				{%- endif  -%}
			</h1>

			<div class="search__header-content">
				<form class="search__form" action="{{ routes.search_url }}" method="get" role="search">
					<div class="search__form-controls">
						<div class="search__input-wrapper">
							<label class="visually-hidden" for="Search-form-input">
								{{- 'general.predictive_search.placeholder_aria_label' | t | escape -}}
							</label>

							<input
								class="input search__input js-search-input"
								type="search"
								id="Search-form-input"
								placeholder="{{- 'general.search.search_input_placeholder' | t -}}"
								name="q"
								value="{{ search.terms | escape }}"
								autocomplete="off"
								autocapitalize="off"
								spellcheck="false"
								required
							/>
						</div>

						<button
							class="search__submit button button--secondary button--with-icon"
							type="submit"
							aria-label="{{- 'general.search.search_submit_button_aria_label' | t | escape -}}"
						>
							{%- render 'icons', icon: 'search' -%}

							<span data-text="{{- 'general.search.search_submit_button' | t | escape -}}">
								<span>
									{{- 'general.search.search_submit_button' | t -}}
								</span>
							</span>
						</button>
					</div>

					<input name="options[prefix]" type="hidden" value="last">
					<div class="is-hidden js-search-types"><input class="js-search-type-input" type="hidden" name="type" value="{{- search_type_values -}}" /></div>
				</form>

				{%- if search.performed -%}
					<div class="search__types-wrapper js-search-types-wrapper js-element-to-scroll">
						<div class="search__types">
							<a
								class="search__type-button button-link {% if search.types.size == 1 and search.types contains 'product' %} is-active {% endif %} js-search-type-link"
								href="{{ routes.search_url }}?q={{- search.terms -}}&type=product"
								data-search-type="product"
							>
								<span class="js-tab-button-data-text" data-text="{{- 'sections.search_template.products' | t: count: 0 -}}">
									<span class="js-tab-button-text">
										{{- 'sections.search_template.products' | t: count: 0 -}}
									</span>
								</span>
							</a>

							{%- if search_articles or search.types contains 'article' -%}
								<a
									class="search__type-button button-link {% if search.types.size == 1 and search.types contains 'article' %} is-active {% endif %} js-search-type-link"
									href="{{ routes.search_url }}?q={{- search.terms -}}&type=article"
									data-search-type="article"
								>
									<span class="js-tab-button-data-text" data-text="{{- 'sections.search_template.articles' | t: count: 0 -}}">
										<span class="js-tab-button-text">
											{{- 'sections.search_template.articles' | t: count: 0 -}}
										</span>
									</span>
								</a>
							{%- endif -%}

							{%- if search_pages or search.types contains 'page' -%}
								<a
									class="search__type-button button-link {% if search.types.size == 1 and search.types contains 'page' %} is-active {% endif %} js-search-type-link"
									href="{{ routes.search_url }}?q={{- search.terms -}}&type=page"
									data-search-type="page"
								>
									<span class="js-tab-button-data-text" data-text="{{- 'sections.search_template.pages' | t: count: 0 -}}">
										<span class="js-tab-button-text">
											{{- 'sections.search_template.pages' | t: count: 0 -}}
										</span>
									</span>
								</a>
							{%- endif -%}
						</div>
					</div>
				{%- endif -%}
			</div>
		</div>

		{%- if search.performed -%}
			{%- if enable_sidebar -%}
				<div class="search__sidebar">
					<div class="search__sidebar-wrapper">
						{%- render 'product-filters',
							filter_type: 'sidebar',
							product_list: product_list,
							show_swatches: show_color_swatch_in_filters
						-%}
					</div>
				</div>
			{%- endif -%}

			<div class="search__bar">
				<div class="search__bar-drawer">
					{%- render 'product-filters',
						filter_type: 'drawer',
						product_list: product_list,
						show_swatches: show_color_swatch_in_filters
					-%}
				</div>

				<div class="search__bar-main {% if enable_topbar %}collapse-wrapper{%- endif -%}">
					<div class="search__bar-container">
						<div class="search__bar-controls">
							{%- if enable_topbar -%}
								<div class="search__bar-top-bar">
									{%- render 'product-filters',
										filter_type: 'top-bar',
										product_list: product_list,
										show_swatches: show_color_swatch_in_filters
									-%}
								</div>
							{%- endif -%}

							<div class="search__bar-controls-wrapper">
								<div class="search__bar-filter-button product-filters">
									{%- render 'product-filter-button',
										active_filters_size: active_filters_size
									-%}
								</div>

								{%- if enable_topbar or enable_sidebar -%}
									<div class="search__bar-sort">
										{%- render 'sort', product_list: product_list, id: filters_type, external: true -%}
									</div>
								{%- endif -%}
							</div>
						</div>
					</div>
				</div>

				{%- if enable_topbar -%}
					<div class="search__bar-selected-filters">
						{%- render 'product-filters-selected', product_list: product_list, filter_type: 'top-bar' -%}
					</div>
				{%- endif -%}
			</div>
		{%- endif -%}

		{%- if search.performed -%}
			<div class="search__body js-search-body {% if search.types.size != 1 %}is-hidden{% endif %}">
				{%- paginate search.results by paginate_by, window_size: 2 -%}
					<div class="search__grid js-grid-wrapper" data-type="{%- if search.types.size == 1 -%}{{- search.types[0] -}}{%- else -%}product{%- endif -%}">
						{%- for item in search.results -%}
							<div class="search__item">
								{%- case item.object_type -%}
									{%- when 'product' %}
										{%- assign product_img_size = 552 -%}
										{%- assign product_img_size_tablet = 362 -%}
										{%- assign product_img_size_mobile = 188 -%}

										{%- if enable_sidebar -%}
											{%- assign product_img_size = 439 -%}
										{%- endif -%}

										{%- render 'product-card',
											product: item,
											size: product_img_size,
											tablet_size: product_img_size_tablet,
											mobile_size: product_img_size_mobile -%}
									{%- when 'article' -%}
										{%- assign size_width_1500 	= 325 -%}
										{%- assign size_height_1500 = 282 -%}
										{%- assign size_width 		= 430 -%}
										{%- assign size_height 		= 348 -%}

										{%- if enable_sidebar -%}
											{%- assign size_width = 439 -%}
											{%- assign size_height  = 584 -%}
											{%- assign size_width_1500  = 334 -%}
											{%- assign size_height_1500 = 447 -%}
										{%- endif -%}

										{%- render 'article-card',
											article: item,
											aspect_ratio: '86.48%',
											size_width_375: 344,
											size_height_375: 297,
											size_width_420: 388,
											size_height_420: 336,
											size_width_575: 544,
											size_height_575: 470,
											size_width_767: 362,
											size_height_767: 313,
											size_width_991: 312,
											size_height_991: 270,
											size_width_1199: 382,
											size_height_1199: 330,
											size_width_1500: size_width_1500,
											size_height_1500: size_height_1500,
											size_width: size_width,
											size_height: size_height
										-%}
									{%- when 'page' -%}
										{%- render 'page-card', page: item -%}
								{%- endcase -%}
							</div>
						{%- endfor -%}
					</div>

					{%- case pagination_type -%}
						{%- when 'pagination' -%}
							{%- capture search_pagination_classes -%}
								search__pagination-wrapper js-pagination
								{% unless paginate.pages > 1 %} is-hidden {% endunless %}
							{%- endcapture -%}

							<div class="{{- search_pagination_classes | strip_newlines -}}">
								{%- if paginate.pages > 1 -%}
									{%- render 'pagination', paginate: paginate -%}
								{%- endif -%}
							</div>
						{%- when 'infinite_scroll' -%}
							{%- capture search_infinite_scroll_classes -%}
								search__infinite-scroll no-js-hidden js-infinite-scroll
								{% unless paginate.next.url %} is-hidden {% endunless %}
							{%- endcapture -%}

							<div class="{{- search_infinite_scroll_classes | strip_newlines -}}"
								{%- if paginate.next.url -%}
									data-next-url="{{- paginate.next.url -}}"
								{%- else -%}
									data-next-url=""
								{%- endif -%}
							></div>
						{%- else -%}
							{%- capture search_lazy_load_button_classes -%}
								button button--{{- load_more_style }} search__load-more-button js-lazy-load
								{% unless paginate.next.url %} is-hidden {% endunless %}
							{%- endcapture -%}

							<div class="search__lazy-load-button-wrapper no-js-hidden">
								<button
									class="{{- search_lazy_load_button_classes | strip_newlines -}}"
									{% if paginate.next.url %}
										data-next-url="{{- paginate.next.url -}}"
									{% else %}
										data-next-url=""
									{% endif %}
									aria-label="{{- 'general.pagination.lazy_load_aria' | t: items: 'products' | escape -}}"
								>
									{%- if load_more_style == "secondary" -%}
										<span data-text="{{- 'general.pagination.lazy_load' | t | escape -}}">
											<span>{{ 'general.pagination.lazy_load' | t | escape }}</span>
										</span>
									{%- else -%}
										{{ 'general.pagination.lazy_load' | t | escape }}
									{%- endif -%}
								</button>
							</div>
					{%- endcase -%}

					{%- unless pagination_type == 'pagination' -%}
						<noscript>
							<div class="search__pagination-wrapper">
								{%- if paginate.pages > 1 -%}
									{%- render 'pagination', paginate: paginate -%}
								{%- endif -%}
							</div>
						</noscript>
					{%- endunless -%}
				{%- endpaginate -%}

				{%- capture search_empty_title_classes -%}
					h5 search__title-empty js-template-empty-title
					{% if search.results.size > 0 %} is-hidden {% endif %}
				{%- endcapture -%}

				{%- capture search_empty_title_aria_hidden -%}
					{% if search.results.size > 0 %} aria-hidden="true" {% else %} aria-hidden="false" {% endif %}
				{%- endcapture -%}

				<h2 class="{{- search_empty_title_classes | strip_newlines -}}" {{ search_empty_title_aria_hidden }}>
					{%- capture search_query -%}
						<span>"{{- search.terms -}}"</span>
					{%- endcapture -%}

					{%- assign no_results = 'general.search.no_results' | t | replace: "{{ query }}", search_query -%}

					{{- no_results -}}
				</h2>
			</div>
		{%- endif -%}

		{%- render 'adastra' with '/src/scripts/component-product-filters.js' -%}
		{%- render 'adastra' with '/src/scripts/search-template.js' -%}
	</div>
</section>

{%- schema -%}
{
	"name": "Search",
	"settings": [
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "checkbox",
			"id": "enable_color_scheme_inheritance",
			"label": "Enable color scheme inheritance",
			"default": true,
			"info": "When this setting is enabled, the color scheme is inherited from the theme settings."
		},
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "Color scheme",
			"default": "scheme-1"
		},
		{
			"type": "header",
			"content": "Grid"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "Heading",
			"default": "Search Results"
		},
		{
			"type": "select",
			"id": "filters_type",
			"label": "Filters type",
			"options": [
				{
					"value": "top-bar",
					"label": "Top bar"
				},
				{
					"value": "sidebar",
					"label": "Sidebar"
				}
			],
			"default": "top-bar",
			"info": "Used only for desktop"
		},
		{
			"type": "checkbox",
			"id": "show_color_swatch_in_filters",
			"label": "Show color swatches in filters",
			"default": false
		},
		{
			"type": "range",
			"id": "paginate_by",
			"min": 12,
			"max": 48,
			"step": 4,
			"label": "Paginate by",
			"default": 16
		},
		{
			"type": "select",
			"id": "pagination_type",
			"label": "Pagination type",
			"options": [
				{
					"value": "pagination",
					"label": "Pagination"
				},
				{
					"value": "lazy_load",
					"label": "Load more"
				},
				{
					"value": "infinite_scroll",
					"label": "Infinite scrolling"
				}
			],
			"default": "pagination"
		},
		{
			"type": "select",
			"id": "load_more_style",
			"label": "Load more button style",
			"options": [
				{
					"value": "primary",
					"label": "Primary"
				},
				{
					"value": "secondary",
					"label": "Secondary"
				}
			],
			"default": "secondary"
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "select",
			"id": "container_width",
			"label": "Container width",
			"options": [
				{
					"value": "1808px",
					"label": "Default - 1680px"
				},
				{
					"value": "2048px",
					"label": "Large - 1920px"
				},
				{
					"value": "100%",
					"label": "Full width"
				},
				{
					"value": "inherit",
					"label": "Inherit of general setting"
				}
			],
			"default": "inherit",
			"info": "if you select 'Inherit of general setting', then container width will be used from the Theme settings/Layout"
		},
		{
			"type": "paragraph",
			"content": "External offsets"
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop external offset top",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop external offset bottom",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile external offset top",
			"default": 0
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile external offset bottom",
			"default": 0
		},
		{
			"type": "paragraph",
			"content": "Internal offsets"
		},
		{
			"type": "range",
			"id": "inner_offset_top",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop internal offset top",
			"default": 64
		},
		{
			"type": "range",
			"id": "inner_offset_bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop internal offset bottom",
			"default": 64
		},
		{
			"type": "range",
			"id": "inner_offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile internal offset top",
			"default": 32
		},
		{
			"type": "range",
			"id": "inner_offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile internal offset bottom",
			"default": 32
		}
	]
}
{%- endschema -%}
